[2017-09-24 01:00] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-26 16:32] #1 closed

[2018-09-12 04:55] bradzacher opened #2 "Add support for tsconfig paths"
If you use the `paths` compiler option in your `tsconfig.json`, it would be nice if this resolver used your config to resolve it for you.

[2018-10-05 22:53] #2 closed

[2018-10-24 11:40] jhnns commented on #2
Hey @bradzacher 👋

This feature forces people to use the `baseUrl` option in their `tsconfig` although it's not required by TypeScript. After upgrading to `1.1.0` I get these errors in every file:

[code]

When I set...

[code]

this plugin works fine. The problem is, however, that VSCode now generates paths on auto import that webpack and Node.js are not able to resolve:

[code]

I'm not sure if

[2018-10-24 16:12] bradzacher opened #6 "Plugin fails if no baseUrl is supplied"
originally reported by @jhnns
https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/2#issuecomment-432621629

---

After upgrading to 1.1.0 I get these errors in every file:

Resolve error: Unable to find tsconfig in /my/project/path: Missing baseUrl in compilerOptions  import/no-unresolved
When I set...

"baseUrl": ".",
this plugin works fine. The problem is, however, that VS

[2018-10-24 16:17] bradzacher opened #7 "resolver fails when importing a node_module ending in `.js`"
Originally reported by @vkrol via pr #5

----

If the "import/extensions" rule is activated then the following import statement causes the error:

import "popper.js";
causes the following error

Resolve error: Cannot find module 'popper' from 'D:\Projects\eslint-import-resolver-typescript\tests'  import/extensions

[2018-10-26 15:39] #7 closed

[2018-10-26 16:01] #6 closed

[2018-11-06 11:56] jhnns commented on #6
Thank you, works like a charm ✨ 👍

[2018-11-22 10:47] Fandekasp opened #10 "errors when importing default class from js file in tsx file"
[code]

A.js
[code]

B.tsx
[code]

versions:
* eslint 5.9.0
* eslint-import-resolver-typescript 1.1.1
* eslint-plugin-typescript 0.13.0
* typescript-eslint-parser 21.0.1
* typescript 3.1.6

Also created an issue in https://github.com/eslint/typescript-eslint-parser/issues/564 because I'm unclear about where this issue should be fixed.

Note that I tried to ignore import on tsx altogether, without

[2018-11-26 02:10] bradzacher commented on #10
Hi @Fandekasp - this is a buggy interaction between [eslint/typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser) and [bradzacher/eslint-plugin-typescript](https://github.com/bradzacher/eslint-plugin-typescript).

The parser released v20/21 which introduced a number of breaking changes, which haven't yet been handled by the plugin. It's being worked on right now though!
If

[2018-11-26 02:10] #10 closed

[2019-02-05 04:24] JustFly1984 opened #13 "typescript-eslint-parser is deprecated, Use @typescript-eslint/parser instead"
Please update README.md

[2019-02-05 04:39] bradzacher commented on #13
Hi @JustFly1984, don't be afraid to open a PR for this sort of thing!

closed in af4444181008fcc205c183adccd1352c19a9503d

[2019-02-05 04:39] #13 closed

[2019-03-06 22:32] JaredProske opened #15 "Version 1.1.x causes "Unable to resolve path to module" errors"
When I allow npm to upgrade this package beyond 1.0.2 I get the following error output:

  1:1   error  Resolve error: Unexpected token )                                     import/no-unresolved
  1:1   error  Resolve error: Unexpected token )                                     import/no-extraneous-dependencies
  4:34  error  Unable to resolve path to module './myfile'  import/no-unresolved

wher

[2019-03-07 02:20] bradzacher commented on #15
- Does babel-eslint actually support typescript yet?

Regardless, unless you have an explicit need for the babel parser, I would suggest switching to [@typescript-eslint/parser](https://www.npmjs.com/package/@typescript-eslint/parser), it's built to properly integrate eslint and typescript.

- as per the readme, config with the new version should be:
[code]

[2019-03-07 18:01] JaredProske commented on #15
I don't know actually.  We use tslint for for our typescript files and eslint for javascript. Come to think of it, I don't know why that is in there at all.  We don't use any language features in this project that would require it.  I can remove it and our linting works just fine.

If I update the config to match the readme I still get the same errors.
[code]

[2019-03-07 18:08] bradzacher commented on #15
You need to use a typescript parser if you've got typescript code that will at some point be run through eslint.
ESLint has no concept of typescript language features, and its parser will crash on them.

Similarly eslint-plugin-import requires a typescript parser if you're importing typescript files.

What is your `myfile.test.js`? What is the imported file `'./myfile'`?
If you're only running esl

[2019-03-07 18:42] JaredProske commented on #15
The test file is importing the module under test like so:
`const myfile = require('../../src/myfile')`
`myfile` is typescript and exports some consts and a class like so
[code]

If we don't use this plugin then eslint does not know that the imported typescript class is a real module.  We get the "Unable to resolve path to module" error.  Adding this plugin (v1.0.2) fixed this  for us.

[2019-04-12 17:03] natandahan opened #16 "Licence ?"
Hi, could you please publish a valid license?

Much appreciate it
Natan

[2019-04-30 14:55] manuelbieh opened #17 "import/no-unresolved when trying to import types from @types/*"
I'm trying to use eslint with `@typescript-eslint/parser` and `eslint-plugin-import` but no matter what I do, I get an error:
[code]
whenever I try to import types from `@types` packages.

Looks like the `sourceType: 'module'` parserOption is causing this error but when I remove it I get another error:
[code]

I created a minimal example to reproduce this error. Probably it's just a setting that's

[2019-05-01 12:46] benmosher commented on #17
Ah, sweet, you beat me to this. was going to open a similar issue and link to https://github.com/benmosher/eslint-plugin-import/issues/1341#issuecomment-488271993

FWIW I'd call this an enhancement request and not a bug. But I am relatively new to the TS ecosystem so maybe there's an argument for calling this a bug.

Either way, I think it'd be straightforward to try a resolution against `@types/{

[2019-05-18 11:12] cyrus-za commented on #2
I get this issue, even when I add a baseUrl.

[code]

[code]

[2019-05-19 02:31] bradzacher commented on #2
[code]

You're not using the node import resolver? Check the readme for how to configure this plugin.

[2019-05-20 12:08] cyrus-za commented on #2
Thanks!

[2019-05-21 17:47] cyrus-za commented on #2
Still not working.

[code]

[code]

[2019-05-21 17:51] cyrus-za commented on #2
EDIT: seems like it wasnt installed on this branch, sorry. It's weird that eslint didnt warn me though that there's a missing plugin

[2019-05-21 22:55] alexgorbatchev commented on #16
ISC

https://github.com/alexgorbatchev/eslint-import-resolver-typescript/blob/master/package.json#L21

[2019-05-21 22:55] #16 closed

[2019-06-30 08:00] JounQin commented on #17
For anything maybe interested, you can try `eslint-import-resolver-typescript@JounQin/node_modules#eslint-import-resolver-typescript` temporarily (PR made at https://github.com/alexgorbatchev/eslint-import-resolver-typescript/pull/20).

[2019-08-02 21:13] Teoxoy opened #21 "[FEAT] Multiple tsconfig.json support"
I am currently working on a yarn workspaces monorepo with one eslint config file at the root.
`@typescript-eslint/parser` supports multiple eslint configs trough `parserOptions.projects`

I am not sure if this can be automated (i.e. the plugin reads `parserOptions.projects`)

[2019-08-03 18:42] teoxoy opened #23 "[RFC] Rename directory option to tsconfigPath or project"
Coming from dividab/tsconfig-paths#91, `tsconfigPaths.loadConfig(path)` accepts a file path too not only a directory.

I think the `directory` option should be renamed to something more descriptive. I have 2 alternatives in mind:

- `tsconfigPath`
- `project` - will keep things consistent with `@typescript-eslint/parser` (`parserOptions.project`) - but it's in no way as descriptive as `tsconfigPat

[2019-09-06 00:13] drewlustro opened #24 "Broken with Jest"
### 🏳️ Waving a white flag for help here

I have a fully passing `eslint` test suite/configuration. `yarn run eslint '**/*.ts*'` works handsomely.

Upon tooling the project to leverage a runner (`jest-runner-eslint`), the suite blows up. Hundreds of failures are logged:

`Resolve error: webpack with invalid interface loaded as resolver`

Errors like this, I recall, were solved after I added `eslin

[2019-09-16 14:45] pekala opened #25 "Unable to resolve path to module for .jsx files"
Seems that currently files with `.jsx` extension are not supported by the resolver.

This list of extensions:

https://github.com/alexgorbatchev/eslint-import-resolver-typescript/blob/18eafa26db7cee5fcdbccfe211d1c412a1e899b9/index.js#L28-L32

does not cover `.jsx`. Adding it, fixed the issue for me. Would this be an acceptable fix? I can prepare a PR.

[2019-09-20 01:58] jjangga0214 opened #26 "[import/no-unresolved] when using with typescript "baseUrl" and "paths" option"
# Repro

##### tree

[code]

##### tsconfig.json

Other options are omiited for brevity.

[code]
##### .eslintrc.js

Other options are omiited for brevity.

[code]

##### src/index.ts

[code]

# Problem

**Expected Result**

It should respect `baseUrl` and `paths` option on tsconfig.json

**Actual Result**

[code]

**Additional Info**

<https://github.com/jjangga0214/ts-boilerplate/commit/af74c178

[2019-09-23 12:20] mrmckeb commented on #21
I've just hit this too, it would be great to have.

[2019-09-23 12:22] Teoxoy commented on #21
Check out: [ eslint-import-resolver-ts](https://github.com/rx-ts/eslint-import-resolver-ts)

[2019-09-27 06:31] jjangga0214 commented on #26
For other folks, this solves the issue.

**package.json**

[code]

[2019-09-27 06:31] #26 closed

[2019-09-27 11:42] JounQin commented on #25
Are you using `allowJs` with `.jsx`?

You can create PR to https://github.com/rx-ts/eslint-import-resolver-ts/blob/master/src/index.ts#L17 which is a fork and enhacer for it.

[2019-09-27 11:50] JounQin commented on #17
Try https://github.com/rx-ts/eslint-import-resolver-ts instead.

[2019-09-30 11:13] #17 closed

[2019-09-30 11:13] #21 closed

[2019-09-30 11:37] JounQin commented on #25
@pekala PR welcome.

[2019-09-30 11:42] JounQin commented on #15
If you're using `babel-eslint` with TypeScript together, make sure you're enabled TypeScript related babel plugin(s) correctly, close for now.

Please try the latest babel, or with babel-eslint@11.0.0-beta.0, or you should use `@typescript-eslint/parser` for `.tsx?` actually. Feel free to open a new issue if I'm incorrect.

[2019-09-30 11:42] #15 closed

[2019-09-30 11:44] JounQin commented on #24
Invalid issue without any detail information, close for now.

Please provide a minimal runnable reproduction next time.

[2019-09-30 11:44] #24 closed

[2019-09-30 11:46] JounQin commented on #23
Let's waiting for the original issue first.

[2019-09-30 12:04] #25 closed

[2019-10-01 22:32] jirutka opened #29 "Version 2.0.0 is not published in npm"
There’s a tag [v2.0.0](https://github.com/alexgorbatchev/eslint-import-resolver-typescript/tree/v2.0.0), but the corresponding version is not available on npmjs.com.

[2019-10-01 22:41] JounQin commented on #29
Yep, I haven't got the npm publish access for now. You can use [eslint-import-resolver-ts](https://github.com/rx-ts/eslint-import-resolver-ts) temporarily for now.

@alexgorbatchev

[2019-10-02 01:59] jirutka opened #30 "directory starting with a dot does not work"
The following example:

[code]

doesn’t work, `globSync()` (from tiny-glob) resolves nothing. It works without the leading `./`, i.e. `packages/*/tsconfig.json`.

(I spent an hour trying to figure out why the heck I’m still getting unresolved import errors even after changing my configuration to exactly match the examples. :frowning_face:)

[2019-10-02 02:15] JounQin commented on #30
Hmmm... Sorry about that, maybe we should post another to `tiny-glob` instead.

[2019-10-02 08:09] jazzfog commented on #29
I think I broke my head today trying to apply `v2` instructions to `v1` code that got installed by `npm` :)

For now the easiest workaround is to install from the GitHub itself
`yarn add https://github.com/alexgorbatchev/eslint-import-resolver-typescript.git#2.0.0`

[2019-10-02 08:56] JounQin commented on #29
@jazzfog The tagged commit is not up to date, I personally do not recommend doing like this. Try `eslint-import-resolver-ts` temporarily instead for now.

[2019-10-02 10:09] jirutka commented on #29
So why the heck you've created the tag when you actually couldn't publish it and now you even said that it's not up to date? Moreover, the changelog contains only versions that don't exist at all. It's all very confusing.

[2019-10-02 10:10] JounQin commented on #29
Not me. The repository owner is @alexgorbatchev .

[2019-10-02 10:19] jirutka commented on #29
Oh, I see now, my apologies.

[2019-10-04 22:25] alexgorbatchev commented on #29
All of the tests are failing for me with the following error:

[code]

Any idea what i'm missing? I havent seen this error before.

[2019-10-06 01:01] JounQin commented on #29
@alexgorbatchev Sorry I forgot to add `pretest: 'r'` script, that's because the source is `.ts` based now, so a build step is required before `test`.

[2019-10-08 18:48] le0nik opened #31 "2.0.0 Doesn't work with lodash"
It always throws errors like this(no errors in previous version):

[code]

Node version: 12.11.1

Relevant dependencies:

[code]

[2019-10-08 19:29] alexgorbatchev commented on #29
published, there seem to be an issue with lodash #31

[2019-10-08 19:29] #29 closed

[2019-10-08 22:57] JounQin commented on #31
Then what's your actual codes? I'm using lodash without any problem.

[2019-10-08 23:42] le0nik commented on #31
Here's a minimal repro: https://github.com/le0nik/resolver-typescript-repro

If you remove the `'import/extensions': ['.ts', '.tsx', '.d.ts', '.js', '.jsx'],` line from `.eslintrc.js` you get no more errors, but that's just because import plugin doesn't even see the typescript files. You can easily check this by changing `throttle` import to something non-existent - there still won't be any errors

[2019-10-08 23:51] JounQin commented on #31
@le0nik OK, I see. Now `@types/lodash/index.d.ts` takes higher priority than `lodash/index.js`, but `eslint-plugin-import` didn't understand ts namespace with `esInterop` correctly.

@benmosher Please point me if I'm incorrect.

And also, I personally disable `import/default` and `import/named` for `.ts` which should have been handled by `typescript-eslint`.

[2019-10-09 08:50] sakulstra commented on #31
With the 2.0.0 update we're now getting an error from:
[code]
not sure i this is related though.

[2019-10-09 09:37] JounQin commented on #31
@sakulstra I think it is just as expected, you can see https://unpkg.com/browse/dataloader@1.4.0/index.d.ts.

[2019-10-09 09:40] JounQin commented on #31
I'm going to close this issue, because it is just working as expected, see my comments above, and I do think it relates to `eslint-plugin-import` itself.

@benmosher Any advice for this?

[2019-10-09 09:40] #31 closed

[2019-10-10 21:59] CodingDive opened #32 "Version 2 release missing on GitHub"
Hey, thank you for all the work on this wonderful plugin.

I saw that after https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/29 was resolved, version 2 was published to [npm](https://www.npmjs.com/package/eslint-import-resolver-typescript) 🎉

I couldn't find the release on [GitHub](https://github.com/alexgorbatchev/eslint-import-resolver-typescript/releases) which lists v

[2019-10-10 22:49] JounQin commented on #32
https://github.com/rx-ts/eslint-import-resolver-ts/blob/master/CHANGELOG.md

It should be same.

[2019-10-10 23:17] CodingDive commented on #32
Am I missing something? The forked project you linked has completely
different versions and another name.

I'm curious about v2 of eslint-import-resolver-typescript.

On Fri, Oct 11, 2019, 00:49 JounQin <notifications@github.com> wrote:

[2019-10-10 23:24] JounQin commented on #32
I mean the changelog content is same. I forked it a few days ago and haven't PR back into 2.0.

[2019-10-16 19:57] jgerigmeyer opened #33 "v2.0.0 prefers '.d.ts' files to '.js' files when both exist."
In v2.0.0, it seems that the change from:

[code]

to:

[code]

...means that if a node module is imported and contains both `.js` and `.d.ts` files, the `.d.ts` file is now resolved instead of the `.js` one. This results in `import/default` errors, e.g.:

[code]

[code]

Maybe I'm missing something obvious?

[2019-10-16 21:52] JounQin commented on #33
Yes, it's just working as expected.
See https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/31#issuecomment-539751607

[2019-10-16 21:52] #33 closed

[2019-10-17 00:02] Evalon opened #34 "import/order generates wrong order with 2.0"
After upgrade to resolver 2.0 import/order plugin starts generate wrong order for files that locally redefined.
For example: styled-components recommend use declaration merging (https://www.styled-components.com/docs/api#create-a-declarations-file) for use theme in styled.
Before version 2.0 this imports (e.g` import styled from 'styled-components'`) was "external" but now it's "local". This is pr

[2019-10-17 00:23] JounQin commented on #34
You should post issue at `eslint-plugin-import` instead.

Related: https://github.com/rx-ts/eslint-import-resolver-ts/issues/14#issuecomment-536522805

[2019-10-17 00:23] #34 closed

[2019-10-17 02:07] #32 closed

[2019-10-17 02:07] JounQin commented on #32
https://github.com/alexgorbatchev/eslint-import-resolver-typescript/releases/tag/v2.0.0

[2019-10-17 10:44] bodinsamuel opened #35 "This plugin breaks disabling import rules"
When I install this plugin along `eslint-plugin-import` I can not use `eslint-disable import/<whatever>`

For example, I used
`/* eslint-disable import/no-extraneous-dependencies */`

Eslint reports me:
` error  'import/no-extraneous-dependencies' rule is disabled but never reported  eslint-comments/no-unused-disable`

N.B: I extends the plugin and also list some rules:
[code]

---
If I remove the

[2019-10-17 10:48] JounQin commented on #35
It seems you didn't enable this resolver even.
And a runnable minimal reproduction is *required*.

[2019-10-17 10:48] #35 closed

[2019-10-17 18:04] alexgorbatchev commented on #33
@JounQin would it make sense to document this behavior somewhere in README?

[2019-10-29 16:43] joaovieira commented on #33
@JounQin Sorry, don't know what you mean by "it's working as expected". Both here and [here](https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/31#issuecomment-539922999). I'm having issues with lodash as well, just as in https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/31.

<img width="544" alt="Screen Shot 2019-10-29 at 16 39 18" src="https://use

[2019-10-29 16:50] JounQin commented on #33
It's not ES Module `default export`, it's `commonjs`, that why the `eslint-plugin-import` complains about `no default export`.

[2019-10-29 16:55] JounQin commented on #33
And you should issue to `eslint-plugin-import` for help supporting that instead.

[2019-10-29 20:30] joaovieira commented on #33
With `esModuleInterop`.

It used to worked well (apart from https://github.com/benmosher/eslint-plugin-import/issues/1282#issuecomment-525776293), but v2.0.0 started to break normal usage as mentioned. On top of those already mentioned, `import/order` also started to raise:

<img width="686" alt="Screen Shot 2019-10-29 at 17 28 05" src="https://user-images.githubusercontent.com/474603/67805112-40b

[2019-10-29 21:58] JounQin commented on #33
`esModuleInterop` is TypeScript spec and `eslint-plugin-import` doesn't understand standard it, that's why I told you to issue to it instead.

[2019-10-30 10:30] joaovieira commented on #33
Ok. For the `import/order`, I've raised https://github.com/benmosher/eslint-plugin-import/issues/1525 and fixed in https://github.com/benmosher/eslint-plugin-import/pull/1526.

For the `import/default`, where do you think the problem would be? In the parser or the import plugin?

In `1.1.1` reading from the JS source (`lodash/snakeCase.js`) works fine:

[code]

In `v2.0.0` using the TS export synt

[2019-10-30 11:21] JounQin commented on #33
I've told you the type definition is commonjs format and `eslint-plugin-import` doesn't treat it as an ES Module then. It doesn't even know any `compilerOptions` about `esModuleInterop`.

And it's not `regression` in my opinion then, it's just the correct behavior. Of course, it could be better to support `esModuleInterop` for `eslint-plugin-import`, and there is nothing we can do on side of `esli

[2019-10-30 11:29] joaovieira commented on #33
@JounQin I don't know how you can maintain this project with that attitude. I'm trying to help as you've seen. I'm not saying the problem is in the resolver - I already understood it isn't after having to dig in myself. But all these issues are related to the change in the way the resolver resolves files. You can't expect the rest of the ecosystem to automatically fix itself and just ignore it.

I

[2019-10-30 11:58] JounQin commented on #33
It is very clear I've answered your latest question at my first comment. It's great to address an issue or even usage question for this project, but I can't understand why I should answer same question for several tomes.

And also, I'm not ignoring them, I've answered every comment about this and pinned the most related two issues. If you'd like to help, you can also raise a PR mentioned about thi

[2019-10-30 12:01] JounQin commented on #33
And also, we do have a [CHANGELOG](https://github.com/alexgorbatchev/eslint-import-resolver-typescript/blob/master/CHANGELOG.md) since `v2.0.0`, it's a BREAKING CHANGE, that's why we bump the major version.

[2019-11-10 13:07] #30 closed

[2019-11-16 15:12] n44ps opened #36 "Typescript Paths still unresolved for sub-folders config"
Hello,

I'm trying to use React, Eslint, Typescript, Airbnb Config.
I want to use typescript `paths`, here `@components`.
The problem is that **it works** at the **root** of the project, but **not** using **sub-folders**.
The examples uses the structure of a **monorepo** using `packages` folder.

Packages are :

[code]

Here is a reproduction : https://github.com/n44ps/eslint-import-resolver-types

[2019-11-16 15:18] JounQin commented on #36
What's the error message outputs?

Can you run `eslint . --debug` and paste the output message here?

[2019-11-16 15:19] JounQin commented on #36
And I think you don't need to provide `https://github.com/n44ps/eslint-import-resolver-typescript-repro/blob/master/packages/web/.eslintrc.js` which is redundant.

[2019-11-16 15:25] JounQin commented on #36
And you've not set `"directory": "packages/*/tsconfig.json"` like the example in `README`.

So, seems an invalid usage, feel free to point out me if I'm wrong.

Closing for now.

[2019-11-16 15:25] n44ps commented on #36
This is what I get for `eslint . --debug` [result.txt](https://github.com/alexgorbatchev/eslint-import-resolver-typescript/files/3854347/result.txt).

I removed `packages/web/.eslintrc.js` but still not working, and I tried to update the `./eslintrc.js` with :

[code]

But still not working :(

[2019-11-16 15:28] n44ps commented on #36
I just updated the https://github.com/n44ps/eslint-import-resolver-typescript-repro/ with your advice, still the same.

[2019-11-16 15:29] JounQin commented on #36
@n44ps Can you try `eslint . --ext ts,tsx`?

[2019-11-16 15:30] n44ps commented on #36
Yes, did that :

[code]

[2019-11-16 15:32] JounQin commented on #36
OK, Let me have a look, wait for a while.

[2019-11-16 15:34] JounQin commented on #36
@n44ps It should be `"directory": ["tsconfig.json", "packages/*/tsconfig.json"]`

[2019-11-16 15:34] #36 closed

[2019-11-16 15:35] n44ps commented on #36
Well, I forgot the `tsconfig.json` in the root, so I updated `.eslintrc.js` with :

[code]

And now it works :

[code]

What I don't understand is why VSCode is still complaining :

<img width="1552" alt="Capture d’écran 2019-11-16 à 16 34 20" src="https://user-images.githubusercontent.com/1702207/68995502-02e30780-088f-11ea-9ddd-832643d544a3.png">

Would you have an idea why ? I only have Eslin

[2019-11-16 15:37] JounQin commented on #36
May you should reload VScode. Somethings, vscode-eslint is stupid event configurations changed.

[2019-11-16 15:39] JounQin commented on #36
Next time, you can provide reproduction with something like [gitpod](https://f930ee42-3608-4282-8633-397d18fb1f27.ws-ap01.gitpod.io/#/workspace/eslint-import-resolver-typescript-repro).

[2019-11-16 15:45] n44ps commented on #36
Indeed tried new configuration using`eslint.workingDirectories` but after many reload it started to work.
I lost at least a whole day on this issue :( Thank you again for your patience and your answers, and thanks for the discovery of Gitpod :)

Have a nice day / night !

[2019-11-16 15:51] JounQin commented on #36
Good night from me. :)

[2019-11-28 09:44] rheaditi opened #37 "[import/no-unresolved] not working in our mono-repo from 2.0.0"
We recently upgraded to Typescript 3.7 and updated all eslint + prettier related packages. Moving from `eslint-import-resolver-typescript@1.1.1` to `eslint-import-resolver-typescript@2.0.0` is leading to more `import/no-unresolved` errors showing up for `paths` configured in `tsconfig.json` in the sub-packages.

## Our structure

[code]

We're using multiple `.eslintrc.js` in each directory since

[2019-11-28 10:23] JounQin commented on #37
Please provide a minimal runnable reproduction, thx.

[2019-11-28 13:52] JounQin commented on #37
Personal idea without approve, you should never use multiple `.eslintrc.js` files, replace them with `overrides` instead.

Take https://github.com/1stG/configs/tree/master/packages/eslint-config as an example.

Feel free to point out if I'm wrong.

[2019-11-28 13:56] JounQin commented on #37
Or try to add `root: true` in every `.eslintrc.js` so that the root level eslint will not try to resolve paths any more.

[2019-12-05 06:59] ZmoNkk commented on #37
I have possibly encountered the same problem:

Whenever you run eslint on several files from different sub-packages `import-unresolved` errors  show up, but running on single file is always OK.

Please check this repo for reproduction: https://github.com/ZmoNkk/import-resolver-typescript-demo

### Repro steps:
1. Install eslint and all dependencies
2. Run `./node_modules/.bin/eslint a/index.ts`.
3

[2019-12-07 00:43] JounQin commented on #37
@ZmoNkk Thx for reproduction, I'll check it ASAP when I'm not so busy.

[2019-12-08 04:10] JounQin commented on #37
@ZmoNkk Please check https://github.com/ZmoNkk/import-resolver-typescript-demo/pull/1/files. I believe you're both misusing `eslint` with `eslint-import-resolver-typescript`.

I'll close this issue temporarily, feel free to point out me and I'll reopen it.

[2019-12-08 04:10] #37 closed

[2019-12-09 20:34] rfgamaral opened #38 "Is my custom eslint shareable config good like this or should I change it?"
I have created this[ shareable ESLint configuration](https://github.com/rfgamaral/eslint-config-typescript-unified) and I'm wondering if the following:

[code]

Is the same as:

[code]

?

If not, could you be so kind in explaining the differences? Should I change [this](https://github.com/rfgamaral/eslint-config-typescript-unified/blob/master/airbnb.js#L13)?

[2019-12-09 23:22] JounQin commented on #38
@rfgamaral They're same anyway. But I'm using `alwaysTryTypes: true` always personally, because I'm also a maintainer of `mdx` now, and there is not related original package for `@types/unist`.

For sharable configuration, you can check the source codes of https://github.com/1stG/configs/tree/master/packages/eslint-config as reference.

[2019-12-09 23:22] #38 closed

[2019-12-10 00:04] rfgamaral commented on #38
@JounQin I asked because I'm having a similar issue to #37 and I can't understand what's wrong with my configuration. I thought I could be doing something wrong with my ESLint config package.

I'll try to create a minimal reproducible repository tomorrow and post on the other issue, maybe you can understand what I'm doing wrong...

[2019-12-10 00:39] JounQin commented on #38
@rfgamaral That's fibe. I'm wondering if my [PR](https://github.com/ZmoNkk/import-resolver-typescript-demo/pull/1/files) helps#

[2019-12-10 09:35] rfgamaral commented on #38
I looked at that but there are so many changes that I'm not sure what's the bit that actually fixes the problem...

[2019-12-10 10:14] JounQin commented on #38
@rfgamaral The key difference is that we should only have one `.eslintrc` for all files. Of course, if you still have problems, feel free to provide another minimal reproduction, I'll try to help fixing them.

[2019-12-10 12:03] rfgamaral commented on #38
@JounQin Actually, I'm not sure I have the same problem as #37. I mean, I get this error in VS Code with the ESLint extension: `Unable to resolve path to module '@tier-based-promotions/core'.eslint(import/no-unresolved)`, however, running the `eslint` tool in the CLI doesn't give me any errors at all.

Maybe **my** problem is actually in the ESLint extension and not the configuration...?

[2019-12-10 14:12] JounQin commented on #38
@rfgamaral Sorry, no idea about this.

[2019-12-10 14:14] rfgamaral commented on #38
That's fine, no worries. Thanks for your support :)

Anyway, I've [posted this](https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-564013256) if you're interested to follow up.

[2019-12-13 19:09] aequasi commented on #34
How would i change the order so @paths imports show above relative imports?

[2019-12-14 02:14] JounQin commented on #34
@aequasi Sorry, but I have no idea what's your point. If you got any problem, please raise another issue with a minimal runnable reproduction please.

[2020-01-07 08:17] LXSMNSYC opened #39 "[import/extensions] Missing file extension "ts/tsx" for "...""
### .eslintrc.js
[code]

### .tsconfig.json

[code]

<img width="640" alt="Screen Shot 2020-01-07 at 4 17 11 PM" src="https://user-images.githubusercontent.com/4783372/71879494-2af13780-3169-11ea-85df-107193812f8e.png">

As you can see, the linter throws an error but the editor can properly resolve the module. Any solutions?

[2020-01-07 08:39] JounQin commented on #39
The error message is coming from `import/extensions`, please raise an issue or read its documentation.

[2020-01-07 08:39] #39 closed

[2020-01-07 08:39] LXSMNSYC commented on #39
I had to use this rule to fix this problem:

[code]

[2020-01-24 12:08] mickdekkers commented on #31
It looks like I may have found a solution. Try adding this to your eslint config:

[code]

This fixes the issue for me, making `import/named` and `import/default` work as expected.

[2020-02-17 03:40] TrejGun opened #41 "types vs typings"
as Typescriopt doc says

[code]

but in fact I have problem with `typings`

it works with config (actually only "ts" section is enough, alwaysTryTypes could be any)
[code]
and does not work (is highlighted) with
[code]
you can try these configs on this code (package)
[code]

[2020-02-17 03:58] TrejGun commented on #41
wait i'm confused myself. so if "ts" section is not present then this resolver should not work. right?
then why types for react are resolved without "ts" section?

<img width="915" alt="Screen Shot 2020-02-17 at 11 55 20 AM" src="https://user-images.githubusercontent.com/185285/74622606-717c7d80-517c-11ea-8593-31d306d969aa.png">
<img width="918" alt="Screen Shot 2020-02-17 at 11 55 34 AM" src="htt

[2020-02-17 04:39] JounQin commented on #41
Why not use `extensions` like following?

[code]

[2020-02-17 05:50] TrejGun commented on #41
@JounQin thanks for your reply
here is minimal example
https://github.com/TrejGun/eslint-typescript-bug

[2020-02-17 08:44] JounQin commented on #41
@TrejGun Then what are the steps to reproduce? I don't quite understand the problem.

[2020-02-17 09:00] TrejGun commented on #41
steps

1 git clone https://github.com/TrejGun/eslint-typescript-bug.git
2 npm i
3 npm run bootstrap
4 npm run lint

result
[code]

this error message should not be there because types for 'react-final-form' are . present in the module

[2020-02-17 09:15] JounQin commented on #41
I tried `DEBUG=eslint-import-resolver-ts npm run lint`, there is even no log from this resolver, and after remove `node` section, it works:

[code]

So I don't think your issue is related to `eslint-import-resolver-typescript` itself, and please take a look at #31 and https://github.com/benmosher/eslint-plugin-import/issues/1282

[2020-02-17 09:29] JounQin commented on #41
And the sequence of `import/resolver` does mater.

`eslint-import-resolver-typescript` should always take higher priority, but it understand `TypeScript` better then `eslint-import-resolver-node`.

[2020-02-17 09:33] JounQin commented on #41
@TrejGun `eslint-import-resolver-node` resolves `react-final-form` to `node_modules/react-final-form/dist/react-final-form.cjs.js`, there is no `FieldRenderProps`(interface of TypeScript) at all.

[2020-02-17 09:33] #41 closed

[2020-02-17 09:37] JounQin commented on #31
@mickdekkers I don't think it's a proper solution, if `eslint-import-resolver-node` takes higher priority than `eslint-import-resolver-typescript`, it may not resolve `@types/` packages at all. Because `node` will resolve `node_modules/lodash` first instead of `node_modules/@types/lodash`.

[2020-02-17 14:04] TrejGun commented on #41
@JounQin sorry I did not get

`node_modules/react-final-form/dist/react-final-form.cjs.js` is js file, and package.json says `"typings": "typescript/index.d.ts",` for me this is perfectly fine

`"extensions": [".ts", ".tsx", ".js", ".jsx"]` this part i got, but . still can't make it work

`after remove node section, it works` - does not work for me can you please post full config?

[2020-02-18 04:25] JounQin commented on #41
Yes, and `eslint-plugin-import` can only resolve one file, so if `eslint-import-resolver-node` resolves a js file first, `eslint-import-resolver-typescript` will not be used at all.

You should only have one `.eslintrc` file in root directory, try remove `.eslintrc` in subfolders, and `overrides` feature of ESLint is the alternative.

[2020-02-18 11:08] TrejGun commented on #41
please post your config or better make a PR to my code. I can't make `react` and `final-form` types work at the same time

[2020-02-18 15:13] JounQin commented on #41
@TrejGun [![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io#snapshot/bd139c18-19d0-432b-adc9-04ed0f26fbdc)

[2020-02-18 15:55] TrejGun commented on #41
thanks a lot.
this is exactly what i mean
you replaced
[code]
with
[code]
and this works
but in my initial case I say I would like to have
[code]
see screenshots ^^^
but for some reaso I can't. Is it a bug or what?

[2020-02-19 00:04] JounQin commented on #41
https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/31#issuecomment-539751607

[2020-02-19 01:38] TrejGun commented on #41
so you say `import/default` and `import/named` are only make sense with cjs syntax
[code]
and are useless with typescript?

[2020-02-19 02:00] TrejGun commented on #41
oh it would be irrelevant in typescript...

ok i got your point,  thanks for your patience

[2020-02-19 02:01] JounQin commented on #41
I can't get your point, you can always use `overrides` in ESLint config.

I'm not going to answer things beyond scope of this resolver. (I've answered in the related issue and README.)

[2020-02-25 11:58] tomyam1 commented on #31
@mickdekkers
I don't think it's a solution at all.
You're essentially using the node resolver instead of the typescript resolver (unless the node resolver [fails](https://github.com/benmosher/eslint-plugin-import/blob/41aaa184210a2d58115e99e57b2f7f0ce79d29b0/utils/resolve.js#L141))

And `lodash` is mapped to `node_modules\lodash\lodash.js`.

As a result, it seems that all imports are passes, even

[2020-03-19 14:52] srmagura opened #42 "Cannot read property 'directory' of null when not passing a config object"
Other import-resolver plugins (e.g. webpack) allow you to use the default configuration by writing
[code]
in `.eslintrc`.

If you try this syntax with `eslint-import-resolver-typescript`, you get
[code]

The error is being thrown on line [142 of index.ts](https://github.com/alexgorbatchev/eslint-import-resolver-typescript/blob/master/src/index.ts#L142) where we try to access `options.directory` wi

[2020-03-23 00:27] srmagura opened #43 "Tests don't pass"
1. Clone the repository.
      - On Windows, you'll need to set your Git configuration to have `core.autocrlf=false`. I have a fix for this in my fork.
2. Install packages: `yarn`    (Tested using Yarn 1.22.4)
3. Run tests: `yarn test`

**Expected behavior:**  ESLint reports 0 errors and 0 warnings.

**Actual behavior:** ESLint reports 26 errors.  22 `import/no-unresolved` and 4 `import/extensions

[2020-04-03 16:01] digeomel opened #44 "Reports false positives for deprecated methods"
Not sure if this is a problem with the original import plugin or with this resolver, but I'm having this issue:

https://github.com/benmosher/eslint-plugin-import/issues/1532

[2020-04-03 17:13] JounQin commented on #44
I think there is nothing related to `eslint-import-resolver-typescript` at all.

This resolver only resolves file path for `eslint-plugin-import`.

[2020-04-03 17:13] #44 closed

[2020-04-10 14:59] #43 closed

[2020-04-10 15:04] #42 closed

[2020-04-10 15:10] JounQin commented on #42
@alexgorbatchev Do you have time to publish a path version for this issue?

[2020-05-06 10:19] ludovicmnji opened #45 "import/default error in monorepo project in Typescript"
I'm trying to use `eslint-import-resolver-typescript` in a monorepo project but I have an unresolved ESlint error despite the right config (I believe).

This is the architecture of the project:

[code]

And this is the configuration of each config files:

**tsconfig.json**

[code]

**api/tsconfig.json**
[code]

**app/tsconfig.json**
[code]

**.eslintrc**
[code]

In my `api/src/index.ts` file when

[2020-05-06 12:14] JounQin commented on #45
See https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/31#issuecomment-539751607 and https://github.com/benmosher/eslint-plugin-import/pull/1528

[2020-05-06 12:14] #45 closed

[2020-05-06 15:54] ludovicmnji commented on #45
Thanks for your answer @JounQin . I'm not sure to understand, the only way to fix this is to disable the rule 😨?

[2020-05-06 15:58] JounQin commented on #45
@ludovicmnji Yes for now, and wait the merged PR of eslint-plugin-import release.

[2020-05-24 18:23] crystalfp opened #46 "Requires a peer of eslint@* but none is installed"
Updating eslint gives the following warning:
[code]
But eslint 7.1.0 is already installed.
[code]

[2020-05-25 03:46] JounQin commented on #46
I don't think it's a bug of EIRT, we require '*' version of eslint, so there should be wrong with npm or your configuration.

Or at least please provide a minimal and runnable reproduction.

[2020-05-25 03:46] #46 closed

[2020-06-05 21:01] qlonik opened #47 "TypeError when importing from `'typescript'` in file"
Whenever I have imports from `'typescript'` module, I get type error: `TypeError: Cannot read property 'type' of null`. I'm not sure if it is caused by this package or is coming from somewhere else. However, when I comment out the line `'import/resolver': { typescript: { alwaysTryTypes: true } },` in `.eslintrc.js` file, then the file gets properly linted.

I created a small reproduction here: htt

[2020-06-06 02:47] JounQin commented on #47
The error message is as following:

[code]

As you can see it comes from `eslint-plugin-import`, and if you lock `"eslint-plugin-import": "~2.18.2"`, it will just work.

So please post the issue to [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) instead, and as I know it should be an issue of parsing `export {}`.

[2020-06-06 02:47] #47 closed

[2020-06-09 06:44] brettz9 opened #48 "Custom `packageFilter` (and possibly `extensions`)"
Hi,

I'm not sure this fits with your goals, particularly if you are aimed only at use with `eslint-plugin-import`, but your project appears to be a good fit for my project `es-file-traverse`. My project builds a list of file names that are found when traversing an entry file or files--whether through CJS require or ESM import, and whether through Node's algorithm or, through your project's help,

[2020-06-12 04:27] qlonik commented on #47
Thank you for filing it upstream and resolving it with the maintainer of the upstream package. I really appreciate it :)

[2020-07-03 09:13] Teoxoy commented on #23
The conclusion of the original issue is that `@typescript-eslint/parser` will stick to using `project`.
Do we want to change `directory` to `project`?

[2020-07-08 11:08] avasuro opened #50 "Bug: Wrong path resolutions if used to lint several projects"
## Bug

### Current Behavior

If this library used to lint several projects at once - only first project paths are taken into account (and they are also exposed to other projects)

### Desired Behavior

Each project paths should be resolved according to this project tsconfig.json file.

### Requirements to reproduce this bug

1. There should be at least two folders with "subprojects" inside root f

[2020-07-08 13:44] JounQin opened #52 "npm package maintenance issue"
Hi @alexgorbatchev @bradzacher
Although I'm one of the GitHub collaborator of this project, but I'm not a publisher of its npm package, so even I can merge PRs, but I can't help to release a patch version into npm.

Would you like to help with this situation?

[2020-07-09 02:14] #50 closed

[2020-07-16 03:50] #48 closed

[2020-07-21 09:05] JakubKoralewski opened #53 "@typescript-eslint treats imports as any in second package"
I have a project in the root directory, and a `packages` folder with some git submodules inside. I'm liniting using the same `.eslintrc.js` across all packages and the root with one config file that resides inside `packages/shared/.eslintrc.js`. I share this configuration across front-end and back-end.

Everything works great on the root directory, but inside `packages/some-package`, I am getting

[2020-07-21 10:04] JounQin commented on #53
What makes think it is related to `eslint-import-resolver-typescript`? It seems just be related to `@typescript-eslint/eslint-plugin`?

[2020-07-21 10:05] #53 closed

[2020-07-21 10:55] JakubKoralewski commented on #53
@JounQin Thanks for answering.

I assumed this, since it seems to only have problems with packages resolved by `eslint-import-resolver-typescript`. I guess if it's not this, then I don't know what's the problem. `@typescript-eslint/eslint-plugin` probably uses types that are provided to it, so to find the source of this bug I think I have to be looking for whatever generates the types resolved by

[2020-07-21 12:22] JounQin commented on #53
`@typescript-eslint/eslint-plugin` has nothing related `eslint-plugin-import` at all.

[2020-07-29 16:18] bradzacher commented on #52
we had talked at one point about merging this tooling into the typescript-eslint project.
IIRC it didn't happen there was some pain due to timezones and syncing up and the fact that you can't just transfer a repo into an org very easily.

merging that in would make this easier to manage, as we could wrap up the release as part of that project's automated weekly releases.

---

What are the steps r

[2020-07-29 23:51] alexgorbatchev commented on #52
@JounQin what is your NPM username?

[2020-07-30 00:03] JounQin commented on #52
@alexgorbatchev My npm name is `jounqin`.

@bradzacher It would be great to merge.

[2020-07-30 00:29] alexgorbatchev commented on #52
done

[2020-07-30 00:30] alexgorbatchev commented on #52
@JounQin I dont see any PRs open?

[2020-07-30 00:46] JounQin commented on #52
@alexgorbatchev Yes, merged but not published yet.

[2020-07-30 03:12] #52 closed

[2020-07-30 05:26] #23 closed

[2020-08-14 10:13] thewilkybarkid opened #54 "yarn-deduplicate"
There's a `postinstall` hook for using yarn-deduplicate; this is visible when installing the package:

[code]

I assume this is just meant to be part of the build process here?

[2020-08-14 15:01] #54 closed

[2020-08-31 23:45] gcangussu opened #55 "Fails when importing with .js/.jsx extensions"
The TypeScript compiler is able to resolve imports from identifiers suffixed with `.js` and `.jsx` back to their `.ts`/`.tsx` counterparts. However this package currently can't handle this. This creates a mismatch between the resolution implemented here and `tsc`'s.

Writing imports with `.js`/`.jsx` suffixes is useful. When you are targeting spec compliant ES6 modules, it allows you to not depend

[2020-09-01 12:11] #55 closed

[2020-09-24 12:47] Ebooth opened #58 "New Feature - tsconfigrootdir"
Is it possible to add a new config parameter tsconfigRootDir so that the paths in the projects array are resolved relative to this parameter instead of cwd ?
This is useful when you want to run eslint from a workspace instead of the root of the project.

The same has already been implemented for the typescript-eslint parser.
https://www.npmjs.com/package/@typescript-eslint/parser

[2020-09-24 15:21] JounQin commented on #58
What do mean with

[2020-09-25 10:11] Ebooth commented on #58
I mean that both @typescript-eslint/parser and eslint-import-resolver-typescript provide a "project" option to define the locations of the tsconfig files but @typescript-eslint/parser package allows us also to configurate how are resolved the paths provided in the "project" option with the "tsconfigRootDir" option.
I thought it could be nice to also have this option in the eslint-import-resolver-t

[2020-09-25 10:44] JounQin commented on #58
I still can understand why this option is required, do you have any example that `project` won't work?

Fewer options is preferred IMO.

[2020-09-29 22:14] juzerzarif opened #59 "Can't resolve path alias when wildcard is empty"
I have the following paths config in my tsconfig.json
[code]
and this in my .tsx file
[code]

I get an eslint error from the import/no-unresolved rule but the typescript compiler can resolve the file just fine.
I don't get an eslint error for this:
[code]
So it seems like it can't resolve the path when the wildcard is empty.

eslint config:
[code]

[2020-10-19 20:01] yyynnn opened #60 "Works but really slow"
Hi there!

i5 ThinkPad taking off like 747
It takes around 10s to save a file

[2020-10-20 03:58] JounQin commented on #60
What makes you thinking it's caused by this resolver instead of other tools?

[2020-10-20 08:05] yyynnn commented on #60
@JounQin well, I turn it on === it stutters
turn it off === no stuttering

I will try to reduce the config to trace this issue.

[2020-11-06 22:15] TylorS commented on #60
I'm definitely experiencing the same thing described above by the OP. Is there any kind of debug information that would be useful in this case?

[2020-11-07 06:21] JounQin commented on #60
Try `DEBUG=eslint-import-resolver-typescript eslint .` to see the debug info first?

[2020-11-27 11:56] evp3103 commented on #58
If the configs are not in the root of the open project in the code editor, then you have to specify the current directory to fix the linting
[code]
After that I have the same problem

To fix it you have to redefine the path to the ts config by adding the current directory to the path
[code]
Therefore, this parameter `tsconfigRootDir` is ignored

[2020-11-27 12:20] JounQin commented on #58
So does `${__dirname}/tsconfig.json` work to you?

If it works, why you prefer `project` + `tsconfigRootDir`? It seems not making sense to me.

[2020-12-03 10:45] JounQin commented on #59
Can you provide a runnable reproduction so that I can help to debug?

[2020-12-07 12:13] Kerumen opened #61 "`import/no-duplicates` warn for duplicates imports from `.d.ts` file"
I'm using [date-fns](https://date-fns.org/) and importing several helpers from the library:

[code]

With the rule `import/no-duplicates` enabled, I have this error:

[code]

I'm using the library properly and don't have duplicates so I guess it's a bug in the resolver no?

[2020-12-07 15:19] JounQin commented on #61
See https://github.com/benmosher/eslint-plugin-import/issues/1479

[2020-12-07 15:19] #61 closed

[2020-12-09 20:03] benmccann opened #62 "Cannot resolve estree types"
**Steps to reproduce**

This repo is setup with `pnpm`, which helps putting multiple packages in a single repo. You can install with `npm install -g pnpm` if you don't have it already.

[code]

**Actual results**

  7:8  error  Unable to resolve path to module 'estree'  import/no-unresolved

**Expected results**

I'd expect this to pass linting since the root directory contains an `node_modules/@t

[2020-12-10 06:03] JounQin commented on #62
Have you tried `alwaysTryTypes` option?

[2020-12-10 06:06] benmccann commented on #62
Yes, that's in my config: https://github.com/benmccann/plugins/blob/44bf678df788d4985aa7970757948ff11de7830f/.eslintrc.js#L16

[2020-12-10 06:33] JounQin commented on #62
There are two `typescript` keys in your config, which makes the first one being overridden, what means `alwaysTryTypes` is actually not working.

[2020-12-10 06:33] #62 closed

[2020-12-10 06:37] JounQin commented on #58
Close due to inactive. Let me know if you want to discuss further.

[2020-12-10 06:37] #58 closed

[2020-12-10 17:06] benmccann commented on #62
Ah, thanks!! I've sent a PR to clarify the docs about this point: https://github.com/alexgorbatchev/eslint-import-resolver-typescript/pull/63

[2020-12-10 17:17] benmccann opened #64 "Resolving dynamically imported types"
**Steps to reproduce**

This repo is setup with `pnpm`, which helps putting multiple packages in a single repo. You can install with `npm install -g pnpm` if you don't have it already.

[code]

**Actual results**

   8:57  error  'ArrayPattern' is not defined       no-undef
  14:62  error  'AssignmentPattern' is not defined  no-undef
  18:55  error  'Identifier' is not defined         no-undef
  2

[2020-12-11 02:59] JounQin commented on #64
Please, the error message is reported by `no-undef` rule, which should be disabled for `@typescript-eslint/eslint-plugin`, see https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/configs/eslint-recommended.ts#L24

You should extend `plugin:@typescript-eslint/eslint-recommended` config.

It is clear that nothing is related to this resolver, please don't pos

[2020-12-11 02:59] #64 closed

[2020-12-28 22:38] ddiegosr opened #65 "Won't work with custom modules"
In my project I have some custom modules(a module @env for example, to use the [react-native-dotenv](https://github.com/goatandsheep/react-native-dotenv) package).
In VS Code the typescript recognize my module, and provide types and code completion, but when i try to import from this module, i'm still having `import/no-unresolved` being reported by ESLint.

I added this to my eslintrc:
[code]

[2020-12-29 01:59] JounQin commented on #65
Out of scope

Try https://github.com/tleunen/eslint-import-resolver-babel-module instead.

[2020-12-29 01:59] #65 closed

[2021-01-09 10:56] remcohaszing opened #66 "Resolver fails for relative paths"
I have the following `tsconfig.json`:

[code]

TypeScript 4.1 supports using relative paths without the `baseUrl` option. This means the following works with TypeScript now:

[code]

However, this makes `eslint-import-resolver-typescript` unable to resolve the mapped paths.

[2021-02-10 13:11] OliverJAsh opened #68 "Unable to resolve path when import uses path relative to `baseUrl`"
This is a difficult one to describe but here is a failing test: https://github.com/OliverJAsh/eslint-import-resolver-typescript/commit/e26fed290150682d05974aeb69242281b532c9e0

Essentially the issue occurs when we import using a path that is relative to the `baseUrl`, e.g. given:

`tests/withPaths2/tsconfig.json`:
[code]
`tests/withPaths2/root/foo.ts`:
[code]

`tests/withPaths2/other/bar.ts`:
[cod

[2021-02-11 10:41] JounQin commented on #68
We're using `tsconfig-paths` to inside, so maybe you can debug if it's a bug of that module first.

[2021-02-11 12:43] OliverJAsh commented on #68
I just tested it with `tsconfig-paths` and it seems to work fine:

[code]

After some debugging it seems like the problem is with this condition:

https://github.com/alexgorbatchev/eslint-import-resolver-typescript/blob/82ef3573fa1258e0de8d8181de57ae7109e35ec5/src/index.ts#L234-L237

Because of this the function returns `undefined`—we never call `matchPatch`:

![image](https://user-images.githubus

[2021-02-11 16:44] JounQin commented on #68
@teoxoy Any idea?

[2021-02-11 21:52] teoxoy commented on #68
It looks like it was added as part of https://github.com/alexgorbatchev/eslint-import-resolver-typescript/commit/ad337809a5c287f795e328cbc7a1eeefdfbe0ad9#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346R125-R128. It was most likely a misunderstanding on my part on how `baseUrl` works.

@OliverJAsh could you put up a PR for this and remove those few lines of code?

[2021-02-12 14:25] OliverJAsh commented on #68
https://github.com/alexgorbatchev/eslint-import-resolver-typescript/pull/69

[2021-02-13 04:48] #68 closed

[2021-02-16 05:04] JounQin commented on #66
It should be related to [`tsconfig-paths`](https://github.com/dividab/tsconfig-paths/issues/143).

[2021-02-16 05:04] #66 closed

[2021-02-16 05:06] JounQin commented on #59
We're using [`tsconfig-paths`](https://github.com/dividab/tsconfig-paths) inside for resolving paths, so please post issue to the original project instead.

Sorry for it.

[2021-02-16 05:06] #59 closed

[2021-02-16 05:07] JounQin commented on #60
Close due to inactive. Please provide more useful information next time.

[2021-02-16 05:07] #60 closed

[2021-02-16 05:09] JounQin commented on #68
released [v2.4.0](https://www.npmjs.com/package/eslint-import-resolver-typescript/v/2.4.0).

[2021-03-27 22:50] pikeas opened #70 "Path resolution works only with empty settings object"
[code]

This causes import resolution failures unless the `import/resolver` section is uncommented. It's a bit surprising that an empty config block modifies plugin behavior. It would be great if this worked without needing a blank config, otherwise perhaps the docs could be more explicit?

[2021-03-28 01:25] JounQin commented on #70
Configuration is required for `eslint-plugin-import` to recognize, you can just use `null` instead of empty object.

[2021-03-28 01:25] #70 closed

[2021-03-30 13:41] pjmvp opened #71 "Unable to resolve path to module eslint(import/no-unresolved) when using "paths" in tsconfig.json"
I have a simple project in a ClientApp/ folder.
In it, I have tsconfig.json, .eslintrc, package.json and a /src/components folder containing my ts/tsx files.
I want to use the "paths" config in tsconfig so that I can simplify/shorten my imports.

However, I always get the same "import/no-unresolved" error message: Unable to resolve path to module 'common'.eslint(import/no-unresolved)

Any idea on

[2021-03-30 13:53] JounQin commented on #71
We need online runnable reproduction.

[2021-03-31 04:30] JounQin commented on #71
Should be related to [tsconfig-paths](https://github.com/dividab/tsconfig-paths/issues/143)

You can add a `baseUrl` as workaround temporarily.

[2021-03-31 04:30] #71 closed

[2021-03-31 04:39] JounQin commented on #60
May be related to https://github.com/dividab/tsconfig-paths/issues/72

[2021-03-31 08:03] pjmvp commented on #71
Yep, that did it. Thank you, @JounQin.

Adding `"baseUrl": "."` under the tsconfig file's "compilerOptions" object did it for me.
It's also important to have:

[code]

in the .eslintrc file.

(Your gitpod.io link doesn't work for me, but the fix is simple enough.)

[2021-04-09 22:01] dardanos commented on #36
That comment made my day hahaha
![](https://media.giphy.com/media/12msOFU8oL1eww/giphy.gif)

[2021-04-29 08:31] jeffrson opened #72 "Importing modules from d.ts"
Hi,

I have a case within a project that I tried to reduce to a minimal repro, see here: https://github.com/jeffrson/import_unresolved_dts

eslint with eslint-import-resolver-typescript apparently fails to recognize a module from d.ts, whether or not it is located in / or /@types.

startup.ts looks like this
[code]

and there's a file called my_modules.d.ts (name shouldn't matter):
[code]

which,

[2021-04-29 08:41] JounQin commented on #72
No idea how to fix this case easily. Maybe @brettz9 can help, because `@typescript-eslint/eslint-plugin` should also need to read custom `.d.ts` definitions.

But in another thought, `eslint-plugin-import` will just continue to resolve modules from `node_modules`, it is clear that this is no `module1` source file (`.js`)

And also, if there are multiple modules defined at a single `.d.ts`, it will

[2021-04-29 14:46] bradzacher commented on #72
Typescript-ESLint is built directly on top of TypeScript, so we don't need to worry about this. TS parses and checks all files together, so it implicitly finds and applies the module declaration.

This is essentially impossible for the resolver to handle. A `.d.ts` file can be literally anywhere in the project tree. There's nowhere special you can do to look for it.

If the module declaration decl

[2021-04-29 15:03] JounQin commented on #72
Is there a TypeScript API to search that?

[2021-04-29 15:15] bradzacher commented on #72
There's probably something attached to the `ts.Program` object that comes back from the parse (which is [returned as part of our `parserServices`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/typescript-estree/src/parser-options.ts#L201).

Though I don't know offhand. There's a lot of data exposed on its properties and via the type checker.

TBH though if this projec

[2021-04-29 15:33] JounQin commented on #72
Yeah, I don't know whether worth to do that. I will do a research first recently.

[2021-05-17 01:36] marialovesbeans opened #73 "Support for jsconfig.json"
Our project doesn't use Typescript by rather only Javascript, thus only have `jsconfig.json` file. Does this package support `jsconfig.json`? Thanks!

[2021-05-17 02:13] JounQin commented on #73
You can just try `project` option.

[2021-05-27 22:04] Vallo opened #74 "ENOENT: no such file or directory, stat './tsconfig.json'"
I have started a new react app and defined baseUrl as "./" on my tsconfig.json. Added `eslint-import-resolver-typescript` and empty settings on .eslintrc.js but still got `Unable to resolve path` error, despite imports worked as expected. Tried to specify tsconfig.json location on project property but got title error. All package.json, tsconfig.json and .eslintrc.js are on root folder, code is on

[2021-05-28 01:51] JounQin commented on #74
Please provide a minimal reproduction.

[2021-05-28 15:38] Vallo commented on #74
@JounQin  I created a minimal reproduction example. https://github.com/Vallo/eslint-import-resolver-typescript-reproduction

Not sure what causes it, but it only triggers if VS Code is not opened on project root folder. You can find reproduction steps on the readme.

Thank you very much for your time

[2021-05-29 02:18] JounQin commented on #74
![image](https://user-images.githubusercontent.com/8336744/120055219-27649600-c067-11eb-8dcf-88dec07acedc.png)

I didn't get any error as you described.

[2021-05-29 02:36] JounQin commented on #74
If you mean `Unable to resolve path to module 'src/components/Example'`, I can reproduce it by `node ./project/node_modules/.bin/eslint ./project/src/App.tsx`, that is because the default `project` value is `process.cwd()`: https://github.com/alexgorbatchev/eslint-import-resolver-typescript/blob/master/src/index.ts#L214

It can be resolved by ESLint [`conext.getCwd()`](https://github.com/eslint/es

[2021-05-29 02:36] #74 closed

[2021-06-05 21:49] AleksaC opened #76 "Cannot resolve imports in typeRoots"
The plugin does not seem to be able to resolve imports under `node_modules/@types` and unlike node resolver I cannot add paths to make it work.

For example installing `@types/aws-lambda` and then using something like this produces `no-unresolved` error:

[code]

[2021-06-06 00:07] JounQin commented on #76
Please provide a minimal reproduction. This is the key feature of this resolver in v2.

Make sure this resolver takes higher priority than others.

[2021-06-06 11:12] AleksaC commented on #76
Here it is: https://github.com/AleksaC/eslint-typescript-resolver-example.

I didn't know that there can be multiple resolvers but now that you mentioned it I tried this and it worked:
[code]

[2021-06-07 02:06] JounQin commented on #76
@AleksaC This is because you didn't have `aws-lambda` installed, if this is intended, you should use `alwaysTryTypes` of this resolver.

[code]

[2021-06-07 02:06] #76 closed

[2021-06-24 13:15] JounQin commented on #72
I think you should just use `import/ignore` or an ESLint disable comment for this case now. It's not worth to include TypeScript into this resolver because TypeScript itself has already done it.

[2021-06-24 13:15] #72 closed

[2021-06-24 13:29] JounQin commented on #72
Or we can provide a simple mapper option to declare the mapping manually, if you want, PR welcome.

[2021-07-26 14:05] kmacdonaO opened #77 "Please include licence text, copyright"
Could you include the ISC License text (typically in a file called LICENSE) which specifies the copyright holder for this package?  Doing this will allow us to provide attribution with the copyright.

[2021-07-26 14:06] kmacdonaO opened #78 "Please add LICENSE file, copyright"
Could you include the ISC License text (typically in a file called LICENSE) which specifies the copyright holder for this package?  Doing this will allow us to provide attribution with the copyright.

[2021-07-27 02:52] JounQin commented on #78
duplicate with #77

[2021-07-27 02:52] #78 closed

[2021-07-29 12:29] tpluscode opened #80 "Force .js for all imports"
I'm migrating my node ts project to ESM and now I need to change all imports to be explicitly `/\.js$/`

Would be nice to have a setting to enforce

[2021-07-29 17:22] JounQin commented on #80
I'm not sure to understand totally, but I think maybe you want an eslint rule to enforce that, and it's not responsibility of this resolver.

[2021-07-29 17:49] markjm opened #81 "isCore check happens too early"
There are a collection of npm packages with the same name as node packages
https://www.npmjs.com/package/os
https://www.npmjs.com/package/events

When resolving, we _first_ check if its core, then try to resolve if it isn't. Since these packages have core module names, they are marked as core, even though the actual code may be requiring them from modules directories.

Fix seems simple (move isCor

[2021-07-30 05:58] tpluscode commented on #80
Here's what I mean

[code]

So this would be responsibility of eslint-plugin-import? Rule `import/extensions` comes close

[2021-07-30 06:57] JounQin commented on #80
Yeah, please raise a new feature request there instead.

[2021-07-30 06:57] #80 closed

[2021-07-30 07:03] JounQin commented on #81
I imagine these packages works just same as core modules, aren't they?

[2021-07-30 07:12] markjm commented on #81
It seems most of them are "shims" for node packages that can work in browser (or visa versa). So yea, in most cases you may not see a difference. One place that you will though:

If you are using the `events` package and import it without declaring it in package.json, the `no-extraneous-dependency` rule will improperly pass
https://github.com/import-js/eslint-plugin-import/blob/master/docs/rules/n

[2021-07-30 07:21] JounQin commented on #81
I'm not sure to understand, `events` is a core module, and we've returned `{ found: true, path: null }` for core modules.

@ljharb Is this expected?

[2021-07-30 07:29] JounQin commented on #81
@markjm Or we can provide a new option to enable this feature with disabled by default, so that it won't be a breaking change.

If you're interested, PR welcome.

[2021-07-30 16:04] ljharb commented on #81
In node, it's impossible to import/require a core module name and get it from node_modules, unless you have a trailing slash.

In other words, `events` is ALWAYS a core module, no exceptions, but `events/` would pull from node_modules. In other words, the linter warning is correct.

[2021-07-30 16:39] markjm commented on #81
Makes sense. Thanks for clarifying!

[2021-07-30 16:43] ljharb commented on #81
Since these packages are indeed browser shims, typically bundlers will transparently use the ones in node_modules when bundling, but in node/tests/linting, you're pulling the node core module.

[2021-07-31 12:02] JounQin commented on #81
So this issue can be closed, right?

[2021-08-02 19:16] markjm commented on #81
Yea, I think this can be closed. Maybe for other custom resolvers it would make sense to make this configurable, but it doesnt seem particularly important/impactful

[2021-08-02 19:16] #81 closed

[2021-08-02 19:25] ljharb commented on #81
A custom resolver that runs before the node resolver should certainly be able to do that.

[2021-09-09 14:48] patrickarlt opened #82 "Allow resolving .js module path endings to .ts equivalent"
Moving this from https://github.com/import-js/eslint-plugin-import/issues/2111#issuecomment-915663474 after https://github.com/import-js/eslint-plugin-import/issues/2111#issuecomment-915663474.

It looks like this was previously discussed in https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/80 and it was requested that an issue get filed in `eslint-plugin-import`. https://

[2021-09-09 15:31] JounQin commented on #82
It's supported already https://github.com/alexgorbatchev/eslint-import-resolver-typescript/pull/56

[2021-09-09 15:39] #82 closed

[2021-09-09 15:40] JounQin commented on #77
PR  welcome

[2021-09-09 15:45] JounQin commented on #82
Just remove "import/extensions" this setting.

This resolver resolves the `.ts` file correctly, but it's not allowed in your configuration.

[2021-09-09 19:24] patrickarlt commented on #82
Thanks @JounQin! I was able to get this working but I had to REMOVE `typescript` from the `settings.import/resolver`. Am I just missing the point of what `eslint-import-resolver-typescript` is supposed to do? I can push up the minimal reproduction I made if you want.

#### Failure `bar.ts` should pass

![2021-09-09_12-22-27](https://user-images.githubusercontent.com/378557/132749711-c9087331-0a23-

[2021-09-13 10:00] #77 closed

[2021-10-15 06:40] JounQin opened #83 "feat: support `.cjs` `.mjs` `.cts` `.mts` extensions"

[2021-10-22 01:00] factoidforrest commented on #21
btw if anyone stumbles upon this like I did, it's natively supported now, just pass an array of projects in parserOptions

[2021-10-22 01:26] JounQin commented on #21
@factoidforrest `parserOptions.project` is for `@typescript-eslint/eslint-parser`, `settings['import/resolvers'].typescript.project` is for this resolver.

[2021-10-28 02:19] JounQin opened #85 "feat: use `enhanced-resolve` to replace `resolve` to support `exports` field"

[2021-12-02 08:34] qmg-akara opened #86 "Support leading slashes in `paths`"
Hello, thanks for this great work!

We have some special aliases that starts with a leading slash, such as `/opt/nodejs/lambda-layer` and `tsc` successfully compiles this code however we are getting `import/no-unresolved` error for these aliases. When we remove the leading slash, i.e. `opt/nodejs/lambda-layer`, it works fine.

`tsconfig.eslint.json`:

[code]

error:
`Unable to resolve path to modu

[2021-12-02 08:45] JounQin commented on #86
[tsconfig-paths](https://github.com/dividab/tsconfig-paths) is used under the hood.

[2021-12-02 11:48] qmg-akara commented on #86
Thanks @JounQin for the prompt reply! and the link. As this is a [tsconfig-paths](https://github.com/dividab/tsconfig-paths) issue I'm going to close this. Thanks

[2021-12-02 12:29] qmg-akara commented on #86
Or I'm opening for tracking [the tsconfig-paths issue](https://github.com/dividab/tsconfig-paths/issues/128), so once it is resolved, `eslint-import-resolver-typescript` could upgrade tsconfig-paths. Feel free to close if you think no need to keep this open.

[2021-12-02 12:39] JounQin commented on #86
@qmg-akara You can try to use [patch-package](https://github.com/ds300/patch-package) and patch tsconfig-paths by editing [lib/try-path.js](https://unpkg.com/browse/tsconfig-paths@3.12.0/lib/try-path.js) like https://github.com/dividab/tsconfig-paths/pull/180/files temporarily.

[2021-12-02 14:16] qmg-akara commented on #86
Thanks @JounQin for letting me know that! I think we'll just disable `import/no-unresolved` for now until it is resolved. Thanks

[2021-12-20 19:57] bukharov opened #87 "Module resolution issue"
We have a monorepo with several applications and some files have identical names. The resolver picks an incorrect file and it gets marked as `external` which interferes with other `import` rules.

For instance there's `applications/employer/Application.tsx` that imports `Application.actions.ts` which is in the same folder.
When `eslint-plugin-import` invokes this resolver it provides the following

[2021-12-21 02:00] JounQin commented on #87
Maybe you should use overrides to split the projects instead.

[code]

[2021-12-22 14:09] mikestopcontinues opened #88 "Local module definition causes `import/order` to interpret as `internal`"
I defined a type for an external module in `/@types/string-hash-64.d.ts`

[code]

Now, when I try to import it, I get the following error:

[code]

Given the following config for `import/order`:

[code]

It seems to be marking the package as `internal` now. I'm not sure exactly why it's happening with this package. I've defined others without this issue creeping in.

[2021-12-23 00:41] JounQin commented on #88
Please provide a runnable reproduction.

It seems like a `eslint-plugin-import` question instead of this resolver. The resolver only helps to resolve the module, but has nothing to do with the `order`.

[2021-12-23 03:54] mikestopcontinues commented on #88
Thanks. I'll dig deeper and take it up there if I can create a repro. :)

[2021-12-23 03:54] #88 closed

[2022-01-02 13:55] macheteHot opened #89 "not work ?"
![image](https://user-images.githubusercontent.com/26652329/147878017-5789d054-2002-470f-b56f-875357f4decc.png)

the workspace is look like
![image](https://user-images.githubusercontent.com/26652329/147878047-5e15ec86-29b8-465f-bfa9-8e0bc4455e2d.png)

[2022-01-03 03:47] JounQin commented on #89
Duplicate of #71

[2022-01-03 03:47] #89 closed

[2022-01-03 06:22] macheteHot commented on #89
thank a lot

[2022-01-05 20:05] pikeas opened #90 "Can't resolve timers/promises"
[code]

[code]

I'm also unable to disable the error with `// eslint-disable-line`

[2022-01-06 00:05] JounQin commented on #90
Please provide a runnable reproduction.

[2022-01-06 01:14] pikeas commented on #90
I'm having some trouble reproducing it from scratch. I did find a clue:

[code]

If I comment out `typescript: {}`, the error goes away. Somehow, when the value is set to an empty hash, it trips up the resolver.

[2022-01-06 04:23] JounQin commented on #90
Without a runnable reproduction, I can't imagine what is going on, sorry.

[2022-01-20 23:05] andylacko opened #91 "baseUrl: '.' need to be added to tsconfig.json"
`"baseUrl": "."` need to be added explicitly to `tsconfig.json`

without this rule, plugin did not work

[2022-01-21 01:47] JounQin commented on #91
Duplicate with https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/71#issuecomment-810751507

[2022-01-21 01:47] #91 closed

[2022-02-15 13:15] AndyClausen opened #92 "no-extraneous-dependencies: Fails to resolve lodash -> lodash-es mapping"
I've mapped `lodash` to `lodash-es` in paths, but this resolver doesn't recognize it despite typescript handling it just fine, so if I import like this:
[code]
it throws this error on both lines:
[code]

.eslintrc.js:
[code]

tsconfig.json:
[code]

[2022-02-23 15:03] luxalpa opened #93 "Does not work on NodeJS v12"
Minimal Repro: https://github.com/luxalpa/repro-eslint-resolver-bug/tree/main

Using NodeJS version 12.22.10 or 13.14.0 it throws an error:

[code]

on 14.2 and 16.14.0 it does not report this error.

I minimalized the reproduction to show this specific issue - it's possible that in doing so I might have removed other bits that are important to work correctly. I however tested 100 or so possible c

[2022-02-23 15:11] JounQin commented on #93
`is-core-module` is used by `resolve` and then used in this project.

See https://github.com/inspect-js/is-core-module/blob/main/core.json#L38

It says the range is `[">= 10 && < 10.1", ">= 14"]`, if you think it's wrong, PR there instead, thanks for reporting.

[2022-02-23 15:11] #93 closed

[2022-02-23 15:21] luxalpa commented on #93
thanks a lot for that link. I wish this was mentioned on the Readme, as I was just assuming that this tool would simply follow the typings to `@types` instead of doing this kind of thing. At the very least I feel it could give a better error message (if that is possible). :sweat_smile:

[2022-02-24 01:59] JounQin commented on #93
We ignore core module as intended, PR welcome for notice.

[2022-02-24 09:18] andre-lergier commented on #74
I came up this issue because I had a quite similar error.
In my case I have a Monorepo using [Turborepo](https://turborepo.org/). In my Next.js app in the subfolder `apps/next-frontend` I had the problem, that ESLint in VSCode couldn't resolve the paths to my modules but while compiling everything worked well. If I put `"project": "./tsconfig.json"`, it didn't work in the IDE but while compiling.

[2022-02-26 12:11] JounQin commented on #90
Duplicate with https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/93

See also https://github.com/inspect-js/is-core-module/blob/main/core.json#L117

[2022-02-26 12:11] #90 closed

[2022-03-01 15:37] DrJume opened #94 "tsconfig.json "references" is not evaluated"
When reading tsconfig.json, it seems to be ignoring the "references" array which includes paths to other tsconfig files in the same directory.

You can reproduce my repo with `npm init vue@3` and then add `eslint-plugin-import` with this resolver.

[2022-03-01 16:06] JounQin commented on #92
Can you provide a minimal reproduction?

[2022-03-01 16:45] DrJume commented on #94
My workaround was to include the referenced tsconfigs in the `.eslintrc.js` with:

[code]

[2022-03-03 20:21] harikautilya opened #95 "Eslint not recognizing alias path"
Hello,
I am trying to create a project with `react-app-rewired` with alias path. The project works fine but having trouble with the alias lints as the eslint is unable to identify the alias
**tsconfig.json**
[code]

**path.json**
[code]
**eslintrc.js**
[code]

config-overrides.js

[code]

Thank you for your time

Edit
Repo link : https://github.com/harikautilya/events

[2022-03-04 01:12] JounQin commented on #95
Please provide a minimal and runnable reproduction.

[2022-03-04 14:55] tleunen commented on #95
I had a very similar issue in a way, and I noticed that `tsconfig-paths` was prepending the alias path with the `baseUrl`. Therefore, if your `baseUrl` is `src`. Try removing `src` from your alias path, such as `"@components/*": ["components/*"]`

[2022-03-04 20:35] harikautilya commented on #95
@tleunen got it let me try it today and get back to you
@JounQin will edit the issue soon

[2022-03-06 15:43] harikautilya commented on #95
@tleunen Tired it. Didnt not work out.
@JounQin Make my repo public as it does nto contain any important information.
Will make it private as soon as the issue closes

[2022-03-06 15:58] JounQin commented on #95
@harikautilya Your reproduction is too huge, and I didn't know what command to run to reproduce even...

[2022-03-06 16:06] JounQin commented on #95
A rough guess:

[code]

[2022-03-06 22:01] harikautilya commented on #95
@JounQin Oh.
here are steps.
1. Clone the repo
2. Npm install
3. Npm run start

You should see the following error
`Cannot find module '@layouts' or its corresponding type declarations.`

but the project fine on port `http://localhost:3000/`

[2022-03-06 22:03] harikautilya commented on #95
@JounQin The fix you suggested works!!!!

But what is surprising is in tsconfig.json `  "baseUrl": "src" ` does exisit. Any particular reason why this happens only when present in paths.json

[2022-03-07 00:45] JounQin commented on #95
This is nothing related to ESLint or this resolver. `@layouts/*` and `@layouts` are different.

[2022-03-07 00:45] #95 closed

[2022-03-14 06:09] qmg-akara commented on #86
Hi @JounQin , looks like [tsconfig-paths issue](https://github.com/dividab/tsconfig-paths/issues/128#issuecomment-984553531) is resolved, would it be possible to update this package too? Thanks

[2022-03-14 06:47] JounQin commented on #86
We use `"tsconfig-paths": "^3.9.0"`, so it's free to upgrade `tsconfig-paths` to `3.14+` by yourself.

[2022-03-14 07:25] qmg-akara commented on #86
Looks like there is no an official way of [upgrading indirect dependencies](https://github.com/yarnpkg/yarn/issues/4986), I have created a PR [here](https://github.com/alexgorbatchev/eslint-import-resolver-typescript/pull/96)

[2022-03-14 09:00] JounQin commented on #86
You can delete it from `yarn.lock` or something else, or just reinstall this resolver.

[2022-03-14 09:00] #86 closed

[2022-03-14 09:03] JounQin commented on #87
Close due to inactive.

[2022-03-14 09:03] #87 closed

[2022-03-16 16:08] kristijorgji opened #97 "it doesn't work"
I have a nextjs typescript eslint project where use `paths` in tsconfig.json like
[code]

Compilation and everything works great, linting fails with
`  18:23  error  Unable to resolve path to module '@/core/useRouter'  import/no-unresolved`

I am using this plugin with eslint, and versions as below
[code]

eslintrc.js

[code]

[2022-03-16 16:22] kristijorgji commented on #97
I fixed this by adding `"baseUrl": ".",` in tsconfig.json
Before I had only the paths set.

Can improve maybe plugin to warn that no baseUrl is set and is mandatory to use

[2022-03-23 09:27] commit-master opened #98 "Update tsconfig-paths to latest fix"
Hi,

Thanks again for this wonderful package. A security vulnerability has been discovered for the `minimist` package. `tsconfig-paths` makes use of it, they have update their package to fix the issue. Could you be so kind and update this package to the latest fix?

More info here: https://github.com/advisories/GHSA-vh95-rmgr-6w4m
`tsconfig-paths` package.json: https://github.com/dividab/tsconfig-

[2022-03-23 09:33] JounQin commented on #98
We're using `https://github.com/dividab/tsconfig-paths: "^3.9.0"` which should cover the latest version, if you want to ensure the version of `tsconfig-paths` to be the latest, just reinstall `eslint-import-resolver-typescript`, you'll get it.

See also https://github.com/alexgorbatchev/eslint-import-resolver-typescript/issues/86#issuecomment-1066435584

[2022-03-23 09:41] commit-master commented on #98
Thanks for the quick reply.
I'm currently on `v2.5.0` which seems to be the latest version.

`tsconfig-paths@3.9.0` is using an old and vulnerable `minimist` dependency (see below)
https://github.com/dividab/tsconfig-paths/blob/287867d1140c14366f280910099938c5c0976f3c/package.json#L33

They just updated this vulnerability fix a few hours ago in the [v3.14.1](https://github.com/dividab/tsconfig-pat

[2022-03-23 09:48] JounQin commented on #98
Again, `^3.9.0` covers `3.14.1`.

[2022-03-23 09:59] commit-master commented on #98
This is very confusing.

Removing the package-lock and node modules and re-installing does not change anything since this is a sub-dependency. Am I missing something here ?

To me the best way to handle this would be updating your dependencies on this project and then running an `npm update` on my end.

I don't think you can currently update a sub-dependency on a project.

I'd be happy to submit a

[2022-03-23 10:04] JounQin commented on #98
`npm uninstall eslint-import-resolver-typescript && npm install -D eslint-import-resolver-typescript` have you ever tried it? `^3.9.0` will resolve the latest version of `tsconfig-paths` on the new installation.

[2022-03-23 10:10] commit-master commented on #98
I did yes, as well as deleting `node_modules` and the `package-lock.json`. After running a `npm audit` the vulnerability is still flagged:

![image](https://user-images.githubusercontent.com/11718935/159674700-d108c0ba-4606-4835-bc27-ec268de46d90.png)

[2022-03-23 10:43] #98 closed

[2022-03-23 10:48] JounQin commented on #98
@commit-master `v2.6.0` released.

[2022-03-23 10:49] #83 closed

[2022-03-23 12:53] commit-master commented on #98
Thanks a lot !

[2022-03-25 05:41] Voyager-Two commented on #21
For anyone else that stumbles upon this, add this to eslint config file:

[code]

[2022-03-29 19:34] beetlebum opened #100 "React Native - Warning eslint-import-resolver-typescript has been ignored because it contains invalid configuration"
When using the project in React Native 0.67 and resolver version 2.7, the following error can be observed:
```warn Package eslint-import-resolver-typescript has been ignored because it contains invalid configuration. Reason: Package subpath './package.json' is not defined by "exports" in /Code/GitHub/app/node_modules/eslint-import-resolver-typescript/package.json```

[2022-03-30 00:08] JounQin commented on #100
So why `package.json` should be exported for React Native?

[2022-04-01 06:17] billnbell commented on #100
this is normal when using exports. just add it in node_modules/eslint-import-resolver-typescript/package.json

  "exports": {
    "./package.json": "./package.json",

[2022-04-01 06:45] billnbell commented on #100
[code]

[2022-04-02 01:55] JounQin commented on #100
I know how to do this, I'm just wandering why `package.json` is required for React Native.

And PR welcome.

[2022-04-02 21:05] billnbell commented on #100
https://github.com/alexgorbatchev/eslint-import-resolver-typescript/pull/101

[2022-04-03 01:55] #100 closed

[2022-04-03 03:38] JounQin commented on #100
released as v2.7.1

[2022-04-05 08:52] carlocorradini opened #102 "Inherit `project` configuration from `@typescript-eslint/parser`'s `parserOptions`"
Using [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint/tree/main/packages/parser#parseroptionsproject) is recommended to set `project` in `parserOptions`.

We also need to add the `project` in `import/resolver-> typescript` when using _eslint-import-resolver-typescript_.

Can we omit the first `project` or do we need both even though they are almost the same?

Tha

[2022-04-05 09:24] JounQin commented on #102
PR welcome if you have the idea about how to implement it.

[2022-04-05 09:35] carlocorradini commented on #102
Instead of reading `project` from `import/resolver -> typescript` can we read it from `parserOptions`?

As far as I know, to add Typescript support to eslint, `@typescript-eslint/parser` is a must. Therefore, I think `project` option should be read from the latter and not from a custom one that can create confusion and duplication.

Please, add your thoughts on this. Maybe I am wrong or this has b

[2022-04-05 09:46] JounQin commented on #102
`eslint-import-resolver-typescript` is used by `eslint-plugin-import`, not any parser, so it can only use things passed by `eslint-plugin-import`, it has no idea about the `parserOptions`.

[2022-04-05 09:52] carlocorradini commented on #102
Ok, there is a purpose. So, there are no workarounds (as far as I understood)?

[2022-04-22 19:42] joaocasarin opened #103 "ESLint is still unable to resolve tsconfig `paths`"
Error: `Unable to resolve path to module '@services/CreateUser'.eslint[import/no-unresolved](https://github.com/import-js/eslint-plugin-import/blob/v2.26.0/docs/rules/no-unresolved.md)`

Package dependencies:
[code]

tsconfig.json paths:
[code]

.eslintrc.js:
[code]

For the typescript build it is apparently good.

[2022-04-22 23:04] JounQin commented on #103
`typescript` option should not be nested in `node`. (You don't need `node` for most cases.)

[2022-04-22 23:04] #103 closed

[2022-04-22 23:05] JounQin commented on #92
close due to inactive

[2022-04-22 23:05] #92 closed

[2022-04-23 00:22] joaocasarin commented on #103
Damn... I spent 1 hour trying to fix that and didn't notice that it was inside the `node` key... My apologies!

Regarding the need of `node`, I don't know why, but I tried removing it while trying to fix the eslint path thing and all my imports raised errors. Now that I put the typescript out of `node` and removed the extensions thing, it worked... Well, computers...

Thanks!

[2022-04-25 12:09] steve-taylor commented on #82
In my case, I also found it necessary to remove `"plugin:import/recommended"` from `"extends"`.

[2022-05-26 01:53] CMCDragonkai opened #106 "Is this necessary for `import/no-cycle`?"
I came to this repo after this https://github.com/import-js/eslint-plugin-import#typescript says to also install this.

However I tried the rule `import/no-cycle`, and it worked as long as I added `plugin:import/typescript`:

[code]

If I didn't have that plugin, it wouldn't work.

Now I checked my `package-lock.json` to see if something was bringing in this package `eslint-import-resolver-typescr

[2022-05-26 01:56] JounQin commented on #106
You need enable this resovler manually, it helps to resolve `@types/*` automatically:

[code]

[2022-05-26 01:56] #106 closed

[2022-06-09 13:36] binarious commented on #60
Same here. The lookup takes between 200 and 900 ms per import statement - which can sum to quite an amount of time in larger projects.

[2022-06-09 14:00] JounQin commented on #60
@binarious Check instead

[2022-06-14 18:24] MWhite-22 commented on #102
One of the problems I am running in to is that `eslint-import-resolver-typescript` does not allow me to add (or doesn't care about adding) `tsconfigRootDir: __dirname,` into the settings like the below:

[code]

Adding the tsconfigRoorDir is required in a monorepo to make `@typescript-eslint` work with each individual package, otherwise eslint keeps only looking for configs in the monorepo root, r

[2022-06-14 23:53] JounQin commented on #102
I still don't get it why not just `project: __dirname`

[2022-06-25 01:12] zikaari opened #107 "Bug: parser can't resolve imports when a package is using `typesVersions`"
![parser](https://user-images.githubusercontent.com/11316020/175752530-4b023f46-f119-4779-9a00-41c39b744072.png)

As seen in the screenshot, VSCode's intellisense is having no problem resolving the module, but import plugin is unable to find the module. I'm using stock settings for eslintrc and `parserOptions`.

The package in question is using `typesVersions` to "map" the files in `dist` director

[2022-06-25 01:23] JounQin commented on #107
Interesting, I've never used `typesVersions` before, do you want to raise a PR for it?

[2022-06-25 01:25] zikaari commented on #107
Unfortunately, I'm not familiar with Typescript parser.

[2022-06-25 01:29] JounQin opened #108 "Migrate to `get-tsconfig`"
https://github.com/privatenumber/get-tsconfig

[2022-06-25 03:00] JounQin commented on #107
I'll take a look when I'm free then.

[2022-06-25 07:33] JounQin commented on #108
released v3.0.0

[2022-06-25 07:33] #108 closed

[2022-06-25 07:38] JounQin commented on #107
It should be related to #85

[2022-06-25 09:32] #85 closed, assigned to JounQin

[2022-06-25 09:36] JounQin opened #111 "feat: support `typesVersions` field in `package.json`"
related #107

[2022-06-25 09:36] JounQin commented on #107
`exports` is supported in v3.1.0, but notice `typesVersions` is not used temporarily, tracking on #111 instead.

[2022-06-27 06:59] nightah opened #113 "import/no-unresolved error in v3.1.0"
It appears that some imports that previously did not have any issues with v2.7.1 now are throwing import/no-unresolved errors, specifically as follows:

[code]

You can see the IDE also highlighting the same issue:

![image](https://user-images.githubusercontent.com/3339418/175875362-42ee8f48-ff7d-428a-9a75-767b011ac9a4.png)

Below is the consistent `.eslintrc.js` file utilised with both v2.7.1 an

[2022-06-27 07:32] JounQin commented on #113
3.0 is a major version, read CHANGELOG if you want to know what's changed.

[2022-06-27 09:40] JounQin commented on #113
No breaking excepted but we did change the deps and support `exports` in `package.json`, so it's a major version.

Thanks for provide the reproduction link, I'll take a look later.

[2022-06-27 09:55] JounQin commented on #113
This could be related to we support `exports` in `package.json` in v3.

[2022-06-27 10:21] #113 closed

[2022-06-27 10:24] JounQin commented on #113
@nightah

`eslint-import-resolver-typescript@3.1.1` and `i18next@21.8.11` have just been released!

[2022-06-27 10:32] nightah commented on #113
Thanks @JounQin, appreciate your assistance with this!

[2022-06-27 17:47] lifeiscontent commented on #82
@JounQin this is not done, the PR that you linked doesn't support the option to force an extension like `.js` that points to `.ts`, or `.tsx`

[2022-06-28 00:12] JounQin opened #115 "move to an organization instead"
A personal GitHub repository lacks permission control well, GitHub Actions secrets for example, I'd like to move this project into @import-js if @ljharb agree, or @typescript-eslint if @bradzacher agree. Otherwise I'd like to move it to @un-ts

 cc @alexgorbatchev

Can you help to migrate?

[2022-06-28 00:18] alexgorbatchev commented on #115
Sure thing. Which one?

[2022-06-28 00:26] bradzacher commented on #115
I remember around 3 years ago (when I contributed to this project) I spoke to Alex about this and they agreed. But when they tried to transfer to my personal account so I could move it forward, the transfer failed as I had a fork of the repo. Then we just never got around to trying again.

However today TBH I'm not sure if it belongs in @typescript-eslint.
The most common usages usages for an impo

[2022-06-28 01:05] JounQin commented on #115
@alexgorbatchev

You can transfer it to @un-ts first, so that I'll have the permission to change later, then let's wait @ljharb's response.

[2022-06-28 01:12] JounQin commented on #115
@bradzacher Right, this resolver works with/without `typescript-eslint`, @import-js is preferred, otherwise @un-ts then.

[2022-06-28 01:14] ljharb commented on #115
I'm happy to have it live in import-js. I've invited @alexgorbatchev to the org.

[2022-06-28 05:27] renovate[bot] opened #116 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update dependency type-coverage to ^2.21.2
 - [ ] fix(deps): update dependency get-tsconfig to ^4.0.7
 - [ ] chore(deps): update de

[2022-06-28 05:27] alexgorbatchev commented on #115
done!

[2022-06-28 05:27] #115 closed

[2022-06-28 05:39] JounQin commented on #115
@ljharb Can you give me some permission so that I can manage GitHub Actions secrets in this repository?

[2022-06-28 05:40] ljharb commented on #115
@JounQin that should do it.

[2022-06-28 05:49] JounQin commented on #115
Thanks!

[2022-06-28 08:59] apss-pohl opened #117 "Can`t resolve #app in a nuxt project since v3.1.1"
Hi,
since v3 my nuxt3 projects breaks:
`error    Unable to resolve path to module '#app'                import/no-unresolved`
Also the IDE complains. If i go back to v2.7.0 everything works as expected.

The tsconfig gets extended with the generated tsconfig which has the path definition for  #app
tsconfig.json
`  "extends": "./.nuxt/tsconfig.json",`

/.nuxt/tsconfig.json"
[code]
.eslintrc
[code]

[2022-06-28 10:47] JounQin commented on #117
A runnable reproduction is required, thanks.

[2022-06-30 15:39] #117 closed

[2022-07-01 06:40] apss-pohl opened #120 "Can`t resolve #app in a nuxt project since v3.1.1"
Sorry i haven't had much time the last days. Here is a repoduction:

https://codesandbox.io/s/nuxt3-eslint-import-4ytvs8?file=/apps/nuxt/src/app.vue
Would you mind to reopen the other issue (https://github.com/import-js/eslint-import-resolver-typescript/issues/117) and delete this one?

[2022-07-01 06:46] JounQin commented on #120
What the difference to keep this one? There is no reproduction in the original issue, that's why it is closed.

---

Thanks for the reproduction, but I don't know how to run the script in codesandbox, can you provide a GitHub repository instead? Export the codesandbox app into a repository for example.

[2022-07-01 07:06] apss-pohl commented on #120
Let me check how to export. In the meantime:
You can open a console following the red arrows and run "yarn lint" to reproduce. If you change back to 2.7 the error disappears.
![image](https://user-images.githubusercontent.com/95089598/176842385-3197e566-a120-44d1-b7b5-cfe0d36ab1f8.png)

[2022-07-01 07:10] apss-pohl commented on #120
Here you are: https://github.com/apss-pohl/nuxt3-eslint-import2

[2022-07-01 07:12] JounQin commented on #120
Thanks then, I'll take a look when I'm free.

You can also help to debug if you want to contribute.

[2022-07-01 07:14] JounQin commented on #120
Where have you `#app` defined?

[2022-07-01 07:17] apss-pohl commented on #120
If is created once you run yarn dev or similar. It will create a folder .nuxt containing the required tsconfig.json:
![image](https://user-images.githubusercontent.com/95089598/176844198-c87ba722-1d24-436e-9c0f-0c5cd79f713d.png)

[2022-07-01 07:21] JounQin commented on #120
[code]

I'm just getting more and more confused, please provide reproduce steps...

[2022-07-01 07:21] JounQin commented on #120
[code]

I'm just getting more and more confused, please provide reproduce steps...

[2022-07-01 07:28] apss-pohl commented on #120
Assumed it would work ootb from codesandbox. I fixed the build, should be good to go now.

[2022-07-01 07:51] JounQin commented on #120
Thanks, just found the bug, working on a fix.

[2022-07-01 07:53] apss-pohl commented on #120
Awesome, thank you so much!

[2022-07-01 08:05] JounQin commented on #120
@apss-pohl Please try

[code]

I confirm it is working on your reproduction.

[2022-07-01 08:12] apss-pohl commented on #120
Works like a charm on my other project!

[2022-07-01 08:13] #120 closed

[2022-07-01 08:17] JounQin commented on #120
@apss-pohl

`eslint-import-resolver-typescript@3.1.3` has been released.

And thanks for the reproduction again, it saves both of our time.

[2022-07-02 13:47] kekel87 opened #125 "Paths to direct file not resolved"
Hello,

I am updating my Angular project and its dependencies.

`eslint-import-resolver-typescript@3.1.4` is not able to resolve aliases to direct file versions anymore.

`app.module.ts`
[code]

`tsconfig.json`
[code]

Output:
[code]

I rolback my version to `^2.7.0` et ça fonctionne.

[2022-07-02 13:49] JounQin commented on #125
A reproduction is required.

[2022-07-02 14:24] kekel87 commented on #125
Here is an example of reproduction:

https://github.com/kekel87/angular-seed/tree/eslint-import-resolver-typescript-issue-125

Step to reproduce:
[code]

[2022-07-02 16:00] #125 closed

[2022-07-02 16:06] JounQin commented on #125
@kekel87

`eslint-import-resolver-typescript@3.1.5` has been released.

And thanks for the reproduction again, it saves both of our time.

---

If you found my projects useful, please consider donating such as a cup of coffee, thanks.

[2022-07-03 16:18] meriouma opened #130 "Unable to resolve modules when using yarn's PnP linker"
This is a breaking change in v3. Trying to run eslint with `eslint-import-resolver-typescript@3+` yields multiple
`error  Resolve error: File '@equisoft/typescript-config/tsconfig.standards.json' not found.`
`4:15  error  Unable to resolve path to module './some-module`

Reproduction branch : https://github.com/kronostechnologies/tax-ca/tree/get-tsconfig-issue
Steps :
- `yarn install`
- `yarn esli

[2022-07-03 16:21] JounQin commented on #130
If you already know it's an issue from `get-tsconfig`, then you don't need to raise this issue?

[2022-07-03 16:21] #130 closed

[2022-07-03 16:21] meriouma commented on #130
To document this package doesn't work anymore when using yarn PnP?

[2022-07-03 16:24] JounQin commented on #130
I depends on `get-tsconfig`, and you can help to support that.

And I've document `use get-tsconfig to replace tsconfig-paths` in v3, and that's why it is a major version.

[2022-07-03 16:28] JounQin commented on #130
I noticed you raised https://github.com/privatenumber/get-tsconfig/pull/27, but you just gave up by closing the PR.

Personally I don't use yarn pnp, you need provide a reproduction for `get-tsconfig`, so that it helps and saves all of our time.

By the mean time, you can still use v2 as workaround for now.

[2022-07-04 16:21] JounQin commented on #130
https://github.com/import-js/eslint-import-resolver-typescript/pull/133

After digging, I found it still should be fixed in `get-tsconfig` because we have no access to `extends` field in `tsconfig.json`.

@meriouma If you are going to fix that issue, I'll just leave it as-is, or I might work on a fix for `get-tsconfig` instead.

[2022-07-05 18:51] JounQin commented on #130
@meriouma `eslint-import-resolver-typescript@3.2.2` has been released with PnP support!

[2022-07-05 19:48] jyeros opened #135 "3.2.2 doesn't include project files"
v3.2.2 doesn't include project files
![image](https://user-images.githubusercontent.com/43852295/177404224-bbb02abe-e4c6-4752-b96b-7f2a8fbdfa2b.png)

These are the only 3 files:
![image](https://user-images.githubusercontent.com/43852295/177404351-aef7c780-b7e5-44f9-a228-c1d0e9167f72.png)

[2022-07-05 20:20] ixuz commented on #135
Transition from version `3.2.1` to `3.2.2` caused our CI pipeline to fail.
Errors like these appear in the eslint log:

[code]

[2022-07-05 20:22] minddust commented on #135
+1

[2022-07-05 21:07] amikheychik commented on #135
There is a regression from `3.2.1` to `3.2.2` and relative paths are not resolved now.

[2022-07-06 00:06] JounQin commented on #135
I'm sorry for this accident, I'll check ASAP.

[2022-07-06 02:02] meriouma commented on #130
Wow, thanks @JounQin for the fast work. although it is causing more issue. Now there are a lot of import error appearing :
[code]

I took a look at your PR and I'm not sure what is the change that could cause this issue 🤔

[2022-07-06 02:03] JounQin commented on #130
@meriouma See #135, working on a fix.

[2022-07-06 02:05] meriouma commented on #130
Oh, right. Thank you!

[2022-07-06 02:43] #135 closed

[2022-07-06 02:44] alecthw opened #141 "Ver 3.2.2 Resolve error: typescript with invalid interface loaded as resolver"
when update to Ver. 3.2.2, these errors:
[code]
3.2.1 is OK

[2022-07-06 02:45] JounQin commented on #141
duplicate of #135

[2022-07-06 02:45] #141 closed

[2022-07-06 02:52] JounQin commented on #135
@jyeros @kristinlindquist @hori-ryota @melink14 @cherryblossom000 @minddust @meriouma @alecthw

`eslint-import-resolver-typescript@3.2.4` has been released with correct contents.

---

If you found my projects useful, please consider donating such as a cup of coffee, thanks.

[2022-07-12 13:42] SebTVisage opened #143 "Not working with node 12"
Greetings. When trying to use the plugin under node 12 (cannot upgrade for now), i get this error many times:
[code]

which is not surprising since the `node:` prefix to import native node modules is not supported on node 12.

I'm going to fork & remove the prefix for my needs. Will you accept a PR? Or do you just not support node 12 anymore?

[2022-07-12 13:47] JounQin commented on #143
[code]

[2022-07-12 13:47] #143 closed

[2022-07-13 19:22] xenoterracide opened #144 "[Docs] mts/mjs with a different outdir"
eslint cant find this from `index.mts` but typescript is ok. I don't see any documentation regarding this.

[code]

[code]

[code]

[code]

[code]

[code]

[2022-07-14 00:01] JounQin commented on #144
A minimal and runnable reproduction is required, GitHub repository for example, please provide and then I'll reopen this issue.

[2022-07-14 00:01] #144 closed

[2022-07-14 03:03] xenoterracide commented on #144
how exactly do you create a minimal, reproducible example for something with no documentation? or do you think it *just works*?

[2022-07-14 03:30] JounQin commented on #144
See https://github.com/import-js/eslint-import-resolver-typescript/issues/120#issuecomment-1172016559 for a reproduction example.

[2022-07-14 03:35] galkin opened #145 "Significant slowdown for import/no-unused-modules rule after upgrade from v2 to v3"
I have medium size TypeScript project.
On v2 `TIMING=1 npm run eslint` shows
Rule                                    | Time (ms) | Relative
:---------------------------------------|----------:|--------:
import/no-unused-modules                |  5951.935 |    39.1%
import/namespace                        |  3816.656 |    25.1%
deprecation/deprecation                 |  2205.676 |    14.5%
@typescr

[2022-07-14 03:51] JounQin commented on #145
cc @ljharb

Do you think anything would affect `import/no-unused-modules` in a resolver?

We're using `enhanced-resolve` to support `imports/exports` in `package.json`.

[2022-07-14 04:03] JounQin commented on #145
Personally I don't think this should be related to this resolver, did you upgrade `eslint-plugin-import` at the same time? It could be a performance regression of rule `import/no-unused-modules` itself?

[2022-07-14 05:02] ljharb commented on #145
@JounQin that's unfortunate; i can't speak to its performance though. When `resolve` is updated to handle `exports`, then the node resolver will get that functionality as well, and hopefully you'd be able to switch to that.

[2022-07-14 05:10] JounQin commented on #145
Of coure.

[2022-07-14 18:23] xenoterracide commented on #144
That's what the typescript documentation said it should match, if I didn't put the output into dist it was fine.

[2022-07-14 22:46] JounQin commented on #144
Sorry I mean it should not match `'./secrets-client/index.mts'`.

It's ESM spec. TypeScript use `moduleResolution: "Node16"` to follow this spec, did you try it?

[2022-07-14 23:22] xenoterracide commented on #144
Yes, eslint says it's a missing dependency but typescript compiles fine

On Thu, Jul 14, 2022, 6:46 PM JounQin ***@***.***> wrote:

[2022-07-15 00:22] JounQin commented on #144
Please provide a reproduction then.

[2022-07-15 12:23] toerndev opened #148 "Absolute imports / aliases in monorepos"
The README shows several ways to specify multiple projects in monorepos, which is great.

What if each monorepo package enables absolute imports by resolving from `./src`, and several projects have the same subpaths, e.g. `src/utils`. If I'm reading the source correctly, this resolver will always return the first match. I seemed to get unpredictable results, where these absolute imports were resol

[2022-07-15 12:27] JounQin commented on #148
PR welcome.

[2022-07-15 12:53] amikheychik opened #149 "v3.x: import/named cannot find types and interface when exports is used in package.json"
After migration from v2.x to v3, the `import/named` rules started failing when I import a type or an interface. It does work when I switch to `import type`.

If I have a configuration like this in my `package.json`:

[code]

and `index.d.ts` file:

[code]

then I get an `import/named` error for code like:

[code]

but not

[code]

Same would be for imports from `@example/core/testing`.

I was able

[2022-07-15 12:55] JounQin commented on #149
This is expected and match the spec.

[2022-07-15 12:55] #149 closed

[2022-07-15 12:55] amikheychik commented on #149
Can you provide a link to the spec?

[2022-07-15 12:58] JounQin commented on #149
@amikheychik See https://devblogs.microsoft.com/typescript/announcing-typescript-4-7/#package-json-exports-imports-and-self-referencing

[2022-07-15 12:59] amikheychik commented on #149
@JounQin thank you, but this is TypeScript 4.7. The error is happening on TS 4.6.

[2022-07-15 13:01] JounQin commented on #149
We don't want to support such difference between versions, you can pin to `v2` if you can't upgrade to TypeScript 4.7 yet.

[2022-07-15 13:02] amikheychik commented on #149
Then you have to add `"typescript": "^4.7.0"` as a peer dependency, so it is not possible to use the v3.x without it.

[2022-07-15 13:02] JounQin commented on #149
Good idea, and PR welcome.

[2022-07-15 22:33] JounQin commented on #145
Please provide reproduction instead of just posting the timing table, it doesn't help anything.

[2022-07-16 09:07] toerndev commented on #148
The reason I ask here is to understand whether this sounds like an actual problem or not from the perspective of this library.

With custom cross-package type resolution inside a linter plugin, it gets abstract enough that it's hard for me to understand what's even supposed to work. :-)

I'll close this for now to keep the issue tracker clean.

[2022-07-16 09:07] #148 closed

[2022-07-17 22:41] wlto commented on #74
Thank you so much @andre-lergier ! Have been stuck with this for almost 2 hours. It's working on my end now. Cheers!

[2022-07-17 23:36] JounQin commented on #74
@wlto PR welcome!

[2022-07-18 15:25] lone-cloud opened #151 "v3 is broken with "Resolve error: File 'expo/tsconfig.base' not found.""
Everything works perfectly fine with v2, but after upgrading v3 I see "Resolve error: File 'expo/tsconfig.base' not found." errors on every linted file.

The printed stack trace:
[code]
Worth noting that my project is a monorepo and one package does indeed use expo (v44.0.6).
That particular stack trace above is for import/no-duplicates, but the same error is repeated for every import lint rule in

[2022-07-18 15:30] #151 closed

[2022-07-18 17:52] bordecal commented on #145
Unfortunately, I can't share my real project, and I don't really have time to create a repro from scratch, so I tried to find a large-ish existing project that is already using the `import` plugin.  The Angular CLI seemed like a potentially good fit, and I was able to see a similar increase in linting time by adding then updating `eslint-import-resolver-typescript`.  This was done over a series of

[2022-07-19 10:09] JounQin opened #152 "feat: add `externsionAlias` option"
[code]

[2022-07-19 12:31] amikheychik commented on #149
@JounQin there is still a bug as the order of the properties somehow affects the result.

This `exports` works:

[code]

But the following are failing:

[code]

[code]

I've checked the link that you referenced, it does not specify that the `types` must be the first field.

Also, it does not actually require for types to be declared at all:

_**By default**, TypeScript overlays the same rules with

[2022-07-19 12:56] JounQin commented on #149
It’s also how is the the ESM spec work, typescript supports different `moduleResolution` options, but I’m not interested to supporting all of them, please just follow how ESM works.

See also https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

Please pin to `v2` if you can’t upgrade.

[2022-07-19 13:08] JounQin commented on #149
But if you want to support them strongly, you can raise a PR for it, and I’ll review it then.

[2022-07-19 13:28] JounQin commented on #149
I just forgot there was an option `conditionNames` actually, the default value is

https://github.com/import-js/eslint-import-resolver-typescript/blob/34a84c9b08b5a3b29e72b6947ff2004408dd081a/src/index.ts#L58-L66

You can just override the value you preferred, but the default value is how the spec works, so that won’t never change.

[2022-07-19 14:26] JounQin opened #153 "docs: document `enhanced-resolve` options"

[2022-07-19 14:35] JounQin commented on #145
Can you try `unsafeCache` provided by [`enhanced-resolve`](https://github.com/webpack/enhanced-resolve#resolver-options)?

[2022-07-19 15:23] #145 closed

[2022-07-19 15:23] #152 closed

[2022-07-19 15:25] JounQin commented on #107
After thinking, I'd like to only support less TypeScript versions to reduce the complexity of this resolver.

[2022-07-19 15:26] #111 closed

[2022-07-19 15:56] #153 closed

[2022-07-19 16:13] JounQin commented on #145
`eslint-import-resolver-typescript@3.3.0` has been released, please give it a try.

[2022-07-19 18:36] bordecal commented on #145
Version 3.3.0 seems to be making a pretty big difference for the Angular CLI code base, reducing the total linting time from almost 7 minutes to under 2 minutes.  Unfortunately, it doesn't seem to be helping with my real code base, which is still running at over 4 minutes (including 90 seconds for `no-unused-modules`).  This has me wondering about a couple of things:

1. Do you have any inkling at

[2022-07-19 18:42] JounQin commented on #145
The fact in `v3.3.0` is just caching `resolver` between files as I linked at https://github.com/import-js/eslint-import-resolver-typescript/issues/145#issuecomment-1189177614, maybe your real code base has multi `eslint-import-resolver-typescript` options between linting files.

The default `node` resolver does not support `exports` filed in `package.json` because of its dependency [`resolve`](htt

[2022-07-22 08:54] MakingStuffs opened #157 "[HELP] Can not get plugin to work with path aliases"
Hi there,

Sorry if this is a situation where I am being dense -- most likely the case. I have spent the last couple hours trying to get the plugin to work but to no avail.

I have search previous questions here and on Stack Overflow but I just can't find any solution which makes eslint play ball with my typescript paths.

Basically, it always gives me an error if I import a module via its mapped

[2022-07-22 08:58] JounQin commented on #157
Please provide a runnable but minimal reproduction.

I can't guess anything for such less information.

[2022-07-22 08:59] MakingStuffs commented on #157
No probs thank you for responding so quickly I really appreciate it

[2022-07-22 09:29] JounQin commented on #157
I didn't see any issue.

[code]

[2022-07-22 09:31] JounQin commented on #157
[code]

I don't find any issue related to this resolver.

`node/no-missing-import` should just be disabled when using together with `eslint-plugin-import` because it is redundant.

[2022-07-22 09:31] MakingStuffs commented on #157
Ah yeah I should have specified it is in the live coding for it -- within the actual IDE.

I can run the lint function the same but when I am in the IDE I am getting squiggly lines with `"@services/index" is not found.eslint[node/no-missing-import](https://github.com/mysticatea/eslint-plugin-node/blob/v11.1.0/docs/rules/no-missing-import.md)`

[2022-07-22 09:31] #157 closed

[2022-07-22 09:34] MakingStuffs commented on #157
Hi mate sorry I think I commented giving more details as you were closing the issue

[2022-07-22 09:39] MakingStuffs commented on #157
Oh my days thank you, I didn't turn off the rule as I thought it would be just disable it outright. You are a hero

[2022-07-24 13:45] JounQin opened #158 "feat: better cache support via hashobject for example"

[2022-07-25 16:25] BenShelton commented on #145
Seeing similar performance issues, with times climbing from ~40s to ~600s (or around 15x longer) after upgrading to `v3.3.0`. The main ones being affected are `import/no-duplicates`, `import/order`, `import/default`, `import/no-named-as-default` and `import/no-named-as-default-member`.

Also increased was `import/export`  but that was not as badly affected at only 0.5% relative.

We're using an ar

[2022-07-25 23:54] JounQin commented on #145
The performance issue is tracked at https://github.com/import-js/eslint-import-resolver-typescript/issues/158

[2022-08-01 13:06] rbong commented on #73
`project` doesn't work because [get-tsconfig](https://github.com/privatenumber/get-tsconfig/), which this package relies on, doesn't support `jsconfig.json`.

[code]

This is a `get-tsconfig` issue at its core but the given solution does not work.

[2022-08-01 13:19] JounQin commented on #73
[code]

[2022-08-01 13:23] rbong commented on #73
[code]

[2022-08-01 13:27] JounQin commented on #73
Please provide a minimal but runnable reproduction.

https://antfu.me/posts/why-reproductions-are-required

[2022-08-01 13:52] JounQin commented on #73
@rbong Would you like to raise a PR for it?

https://github.com/import-js/eslint-import-resolver-typescript/blob/65bed8967583eb192d00c2e7e703cbd3ffedd7f9/src/index.ts#L336

[2022-08-01 14:00] rbong commented on #73
@JounQin Yes, I'm working on a PR

[2022-08-03 04:31] lachlanhunt opened #163 "import/resolver with rules from import/errors and using @typescript-esint/parser causes VSCode to hang while saving files"
Given this .eslintrc.js

[code]

Then with with the [ESLint extension](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) for VSCode installed, and enabling this option in VSCode's settings.json

[code]

This causes VSCode to get stuck while trying to save, showing a dialog saying "Getting code actions from ESLint ...".

I have tried to diagnose this issue by following the

[2022-08-03 05:15] JounQin commented on #163
I don't understand why the issue is created here, this resolver has nothing to do with the editor, why you think this is caused by this resolver instead of the plugin or vscode-eslint extension, or even VSCode itself?

[2022-08-03 09:46] vire commented on #163
Sadly I can only confirm that disabling `import/no-unresolved`, `import/named` and `import/namespace` did NOT resolve the "Getting code actions from ESLint ...". problem.

[2022-08-03 10:58] JounQin commented on #163
So there is nothing related to this resolver.

[2022-08-03 10:58] #163 closed

[2022-08-03 11:09] lachlanhunt commented on #163
I opened it here because I mistakenly thought this was the repo for the import plugin. Both are within import-js and I didn't notice, so that was my mistake. I did intend to open it in import-js/eslint-plugin-import.

But also, in that microsoft/vscode-eslint#1344 issue I linked to, it very clearly explained that issues like this are more likely caused by slow eslint plugins, rather than VSCode or

[2022-08-03 11:32] JounQin commented on #163
@lachlanhunt I think there are already issues for performance problems, see https://github.com/import-js/eslint-plugin-import/issues?q=performance+

[2022-08-04 07:34] andyjessop commented on #74
@JounQin `__dirname` won't work with json configs.

[2022-08-04 07:55] JounQin commented on #74
@andyjessop Then please raise a new issue with minimal but runnable reproduction.

[2022-08-04 09:21] andyjessop commented on #74
I agree, but there may be reasons teams cannot (or prefer not to) do that. It shouldn't be the case that a single plugin dictates which type of config you have to use.

[2022-08-04 09:37] JounQin commented on #74
Well, if you have good approach to improve this, feel free to create a PR instead.

[2022-08-04 09:56] andyjessop commented on #74
We did use this: `"project": "**/tsconfig.json"`, but in all honesty we reasoned that ESLint shouldn't be trying to resolve imports in TS files because TS already does that. Having ESLint do it too just adds an extra moving part that increases the complexity (and brittleness) of our configuration. So we set `"import/no-unresolved":"off"` for `.ts` files.

[2022-08-04 10:01] JounQin commented on #74
It's OK, and this resolver works without `typescript` dep for performance, of course.

[2022-08-04 18:39] noahnu opened #164 "synckit dependency breaks usage of this plugin with Yarn PnP in VSCode"
When using [Yarn PnP](https://yarnpkg.com/advanced/pnpapi) and VSCode, Yarn provides an ESLint patch that injects the PnP runtime into ESLint's lib/api.js file. All javascript in this eslint process have access to the PnP runtime. This plugin uses synckit which creates a worker process. That worker does not have access to the PnP runtime.

Yarn users can fix this by patching eslint-import-resolver

[2022-08-04 22:59] JounQin commented on #164
No worry, I'm the owner of `synckit` at the same time. 😁

[2022-08-04 23:13] #164 closed

[2022-08-05 01:51] stoplion commented on #15
same issue 🫤

[2022-08-05 01:53] bradzacher commented on #15
@stoplion please don't necro old, closed issue unless you have a solid repro or information to add.

[2022-08-05 22:03] Lonli-Lokli commented on #135
I am not sure yet what is the reason, but my import/order stopped working when I switched to Yarn PnP - it does not treat projects starting with `@cv` as internal, with this configuration

[code]

[2022-08-05 22:52] JounQin commented on #135
@Lonli-Lokli https://antfu.me/posts/why-reproductions-are-required

[2022-08-05 23:09] Lonli-Lokli commented on #135
@JounQin how small should be reproduction? Because now I already have my project with that, and Yarn PnP was not a small task

[2022-08-05 23:21] JounQin commented on #135
You issue seems not related to project size, so just a reproduction is needed, no matter its size.

[2022-08-08 03:48] JounQin opened #165 "try `resolve.exports`"
https://github.com/lukeed/resolve.exports

[2022-08-12 09:41] thatsmydoing commented on #158
I've made a reproduction of the issue here https://github.com/thatsmydoing/eslint-import-resolver-typescript-158

On my machine, the v2.7.1 branch takes about 2.30s
[code]

whereas master uses 3.4.0 takes around 27s to run
[code]

[2022-08-12 09:52] JounQin commented on #158
@thatsmydoing Thanks for reproduction, that would make fixing easier. Or you can help to contribute by yourself!

[2022-08-12 09:56] thatsmydoing commented on #158
I made an attempt at https://github.com/import-js/eslint-import-resolver-typescript/pull/166 but I don't think it's possible to get to the previous level of performance with enhanced resolve.

[2022-08-12 10:02] JounQin commented on #158
Thanks, that's why I notice to use `hashobject` in the title of this issue.

[2022-08-16 07:10] nicedu-123 opened #168 "Incorrect path resolved when monorepo project contains multiple tsconfig.json"
This is the architecture of the project:
[code]
tsconfig.json in projectA
[code]

tsconfig.json in projectB have same path definition
[code]

and the configuration of eslint-import-resolver-typescript

[code]
when using `import @/xxxxx` in projectB,  it will match the path to project A。
actually this resolver got multiple paths, and return paths[0]。
Is it possible to tell which project a file belo

[2022-08-16 08:34] JounQin commented on #168
Duplicate of https://github.com/import-js/eslint-import-resolver-typescript/issues/87#issuecomment-998406411

[2022-08-16 08:34] #168 closed

[2022-08-17 23:28] JounQin commented on #102
This issue would be resolved after https://github.com/import-js/eslint-plugin-import/pull/2519

[2022-08-22 14:33] #158 closed

[2022-08-22 14:43] JounQin commented on #158
@thatsmydoing Can you help to try `v3.5.0`? And you can help to review https://github.com/import-js/eslint-import-resolver-typescript/pull/174/files#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80R145-R149.

[2022-08-23 00:59] thatsmydoing commented on #158
For the sample project and our project, the options object wasn't changing so it was perfectly cached even without hashing it. So there was no additional performance improvement. It's really just `enhanced-resolve` being much slower at resolving compared to everything else.

[2022-08-23 01:07] JounQin commented on #158
@thatsmydoing Thanks for verifying, maybe https://github.com/import-js/eslint-import-resolver-typescript/issues/165 will help.

[2022-08-29 16:19] a7madgamal opened #175 "not working with js files"
for some reason when I enable the ts resolver unexisting imported js components errors are not reported anymore!

[2022-08-29 16:33] JounQin commented on #175
https://antfu.me/posts/why-reproductions-are-required

[2022-08-29 16:34] eyaldar opened #176 "Performance degradation since version 3.1.0"
Hi,

I'm seeing a clear performance degradation ever since I upgraded from v2.7.1 -> v3.X
At first I thought it was related to eslint-plugin-import but after trying the [eslint-plugin-i](https://github.com/un-es/eslint-plugin-i) version and trying to downgrade to lower versions I saw no difference in performance.
But after trying both v2.7.1 and v3.1.0/v3.5.0 I've seen that the older version is tw

[2022-08-30 00:05] JounQin commented on #175
close due to lack of reproduction, feel free to comment by providing a minimal but runnable reproduction, then I'll reopen.

[2022-08-30 00:05] #175 closed

[2022-09-02 22:19] JounQin opened #179 "Adapt `get-tsconfig`'s `TsConfigJsonResolved` to TypeScript's `ParsedCommandLine`"
Related https://github.com/import-js/eslint-plugin-import/pull/2519#issuecomment-1230993695 and https://github.com/privatenumber/get-tsconfig/issues/38

[2022-09-06 12:52] hackwaly opened #180 "`no-cycle` not working with import resolver"
https://github.com/import-js/eslint-plugin-import/issues/2468

[2022-09-06 13:03] JounQin commented on #180
Please provide a minimal but runnable reproduction.

[2022-09-06 13:46] #180 closed

[2022-09-06 14:08] hackwaly commented on #180
I can confirm in my real project it reproduces. I can't make it reproduce in a simple ts project. I shall reopen it when I found how to make a reproduction.

[2022-09-06 14:22] JounQin commented on #180
@hackwaly Or maybe you can first try `DEBUG=eslint-import-resolver-typescript eslint FILENANE` for debugging on your real project.

[2022-09-07 10:06] chenxinyanc opened #181 "statSync without `throwIfNoEntry: false` causes great performance impact when processing typescript imports"
As part of the effort to reduce our project's lint time, I've profiled eslint process to find out the hot path is on the following line of the `isFile` function

![image](https://user-images.githubusercontent.com/50703224/188849825-78007cc1-f04d-46c0-88a7-dfaf43594de3.png)

https://github.com/import-js/eslint-import-resolver-typescript/blob/d8dd3ca74026dd40993c7e758179b40909ff216c/src/index.ts#L24

[2022-09-07 10:11] JounQin commented on #181
@chenxinyanc Thanks a lot for your investigation!

Does this mean the `try/catch` block is unnecessary if `throwIfNoEntry: false` is set?

[2022-09-07 10:14] JounQin commented on #181
I just notice https://github.com/webpack/enhanced-resolve/issues/316, so a PR is very welcome!

[2022-09-07 10:28] chenxinyanc commented on #181
@JounQin I suppose so (if we have the lesure to be aggressive). There is [no documentation on other Errors `statSync` may throw](https://nodejs.org/docs/latest-v16.x/api/fs.html#fsstatsyncpath-options), so if there is any other Error, it would be "unexpected".

[code]

[2022-09-07 10:35] chenxinyanc commented on #181
I think I can work on a PR later today.

[2022-09-07 14:13] #181 closed

[2022-09-08 06:26] jjangga0214 opened #184 "question: resolution order of `project`"
Hi!
For example, in this case, which one would be resolved, a or b?

[code]
Thanks :)

[2022-09-08 06:32] JounQin commented on #184
They will be tried in sequence, so `tsconfig.a.json` will be tried first, if no result resolved, `tsconfig.b.json` will be tried.

See also https://github.com/import-js/eslint-import-resolver-typescript/issues/87#issuecomment-998406411

[2022-09-08 06:32] #184 closed

[2022-09-10 23:32] MichaelDeBoey opened #185 "Invitation to move to official `eslint-community` org"
It's up to you —@ljharb—, but if you'd like, you're welcome to transfer this repository to the official [`@eslint-community` organization on GitHub](https://github.com/eslint-community).

As you can read in [the '`@eslint-community` GitHub organization' RFC](https://github.com/eslint/rfcs/tree/main/designs/2022-community-eslint-org), the goal of this new org is to have a place where community memb

[2022-09-11 00:02] ljharb commented on #185
This one's up to @JounQin :-)

My answer elsewhere: https://github.com/jsx-eslint/jsx-ast-utils/issues/121

[2022-09-11 00:10] JounQin commented on #185
I'd like to be always in the same organization with `eslint-plugin-import` personally.

[2022-09-11 01:22] ljharb commented on #185
That makes sense to me.

[2022-09-11 16:13] ljharb commented on #185
See https://github.com/import-js/eslint-import-resolver-typescript/issues/185#issuecomment-1242823828 and https://github.com/jsx-eslint/jsx-ast-utils/issues/121#issuecomment-1242995999

[2022-09-11 16:13] #185 closed

[2022-09-20 07:08] lublak opened #186 "iconv-lite not found in imported namespace"
If it is the same problem as this one it can be closed immediately:  https://github.com/import-js/eslint-import-resolver-typescript/issues/31

Only solution: disable import/namespace

I would like to use this library.
I use iconv-lite following:

[code]

[2022-09-20 07:12] JounQin commented on #186
There is no need to use `declare module 'iconv-lite'` in its self declaration package.

[2022-09-20 07:16] JounQin commented on #186
See also https://github.com/wojtekmaj/react-date-picker/pull/419

[2022-09-20 07:22] lublak commented on #186
@JounQin thanks. I created a pull request for this.

[2022-09-20 07:48] lublak commented on #186
@JounQin is it possible to override this file in my own project?
I don't expect it to be released in the next few months.
And of course, since I don't want to wait that long, I would need a solution now.

[2022-09-20 07:49] JounQin commented on #186
@lublak You can try https://github.com/ds300/patch-package

[2022-09-20 08:04] lublak commented on #186
@JounQin thanks :) not the best solution, but I think the only one that exists. Typescript does not support overwriting if I see correctly. So no /myowntypingsfolder/

[2022-09-20 10:03] #186 closed

[2022-09-28 12:33] scott-ut opened #188 ""Unable to resolve path to module" in monorepo, after Angular 13 upgrade"
After upgrading to Angular 13, which only supports Angular Package Format and ESModules, we are seeing "Unable to resolve path to module" issues.

Our code is a monorepo using Yarn Workspaces, with TSConfig path aliases set up to point to the built assets of our library packages, so `@foo/bar` is set up to resolve to the directory `node_modules/@foo/bar/dist`, which contains a package.json file, a

[2022-09-28 12:38] JounQin commented on #188
Thanks for issue first, can you provide a minimal reproduction with ng-cli maybe first? I'm also using Angular 13+, but didn't meet this problem. So I need to confirm and understand the root cause first.

[2022-09-29 10:10] scott-ut commented on #188
Hi @JounQin - I've created a repro app: https://github.com/scott-ut/eslint-import-resolver-typescript-repro

There are instructions in the readme. I think Angular 13 might have been a red herring as the APF removes certain default fields inside the /dist/package.json file which `eslint-import-resolver-typescript` fell back to. Maybe a clean solution would be to look for `typings` inside package.js

[2022-10-03 16:20] scott-ut commented on #188
Hi @JounQin - did you get a chance to look at this?

[2022-10-03 23:23] JounQin commented on #188
Sorry I'm on a vocation recently, I'll take a look when I'm free.

[2022-10-10 16:21] WoodyWoodsta opened #191 "Typescript NodeNext path alias with extension"
I have a typescript project with `moduleResolution: 'NodeNext'`. In my `tsconfig.json`, I have set up an alias which points directly to a file. In the ES spec, this would be _with_ the file extension, and thus should be in the alias target:

`tsconfig.json`
[code]

Eslint complains, if I try:

[code]

with "Unable to resolve path to module 'alias'".

Am I configuring this incorrectly, or is this n

[2022-10-10 16:22] WoodyWoodsta commented on #191
I forgot to add that Typescript correctly resolves to the file, so this isn't an issue with the alias specification.

[2022-10-11 00:18] JounQin commented on #191
If you still have any issue, please provide a runnable reproduction.

[2022-10-11 02:09] JounQin commented on #188
@scott-ut I think you should use:

[code]

[2022-10-11 08:01] psibean commented on #94
This didn't seem to solve the problem for me. Any paths defined that are pointing to a reference still don't seem to work, but they work fine if I update their imports to use a relative path instead. Is it possible to see more of your config, or a sample repo?

Would highly appreciate!

[2022-10-11 08:08] JounQin commented on #94
Or maybe you can provide a reproduction instead.

[2022-10-11 08:13] WoodyWoodsta commented on #191
@JounQin Pretty simple case: https://github.com/WoodyWoodsta/repro-eslint-import-resolver-typescript-191

[2022-10-11 08:26] psibean commented on #94
Good point!

I should, given I'm the one with the issue, that is on me. I can't put together a full reproduction right now, but here's a breakdown of my config files.

I have a single root `tsconfig.json` which is only used for linting:

[code]
These paths are replicated in `./backend/tsconfig.json`, `./frontend/tsconfig.json`, and `./shared-types/tsconfig.json`.

And my `.eslintrc.cjs` looks like

[2022-10-11 08:35] JounQin commented on #94
@psibean Thanks, but you need to provide a minimal but runnable reproduction so that we can help to debug.

[2022-10-19 10:17] scott-ut commented on #188
Thanks - we want to use the built, `dist` output instead of the `src` output to make it easier for us to decompose the monorepo into separate repos later if we decide to and so that we can use the same tsconfig aliases for build, lint and test. I've updated the PR with your suggestion.

[2022-10-19 12:01] Rialgar opened #192 "Incorrect "engines" declaration - not actually working with node 12"
Since you are importing "node:fs" and "node:path" you are requiring node.js 14.18, 16.0, or later since your version 3.0.0. Also synckit in the version you use requires node 14. However, your engines field still includes "^12.20.0".

I can file a PR, if you want, but the issue is that this is already wrong for your existing published version 3.0.0 and newer, so you may want to consider re-publishi

[2022-10-20 02:39] JounQin commented on #192
You're right here, I was using `^12.20.0` before because I was thinking about ESM, but this plugin only works with commonjs, actually.

https://2ality.com/2021/12/node-protocol-imports.html#support-for-node%3A-imports

We've alreay using "node:fs" and "node:path" since 3.0, so I think it's OK to just correct the engine field.

[2022-10-20 12:08] JounQin commented on #188
close via #187

[2022-10-20 12:08] #188 closed

[2022-11-03 00:42] nathanhannig opened #197 "declare module and import/no-unresolved"
I am using the module '@types/arcgis-js-api' which uses declare module

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/arcgis-js-api/v3/index.d.ts

`import Portal from "esri/arcgis/Portal";`

When using eslint-plugin-import with eslint-import-resolver-typescript I get
`error  Unable to resolve path to module 'esri/arcgis/Portal'  import/no-unresolved`

How can I set up to res

[2022-11-03 03:56] IanVS commented on #176
Adding this resolver took our linting times in CI from ~2 minutes to over 30 minutes (before I cancelled it).  Pinning the version to 3.1.0 brought it back down to 2.7 minutes.

[2022-11-22 08:47] towry commented on #37
I have below config in `.eslintrc.yml` and the vscode + volar give me following error:

config:

[code]

error:

[code]

And the project folder structure is:

[code]